.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  float: left;
  padding: 60px;
}
.sdfghdfgdf h1 {
  color: #032D60;
  font-weight: bold;
}
.sdfghdfgdf p {
  color: #181818;
  font-size: 17px;
  font-weight: 500;
}

.btn125 {
  padding: 14px 40px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #0176D3;
  border-radius: 4px;
}

.btn126 {
  padding: 14px 40px;
  background-color: transparent;
  color: #0176D3;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #0176D3;
  border-radius: 4px;
  margin-left: 10px;
}

.custom-container {
  width: 70%;
  margin: auto;
}

.dfgjhfgd {
  display: flex;
  align-items: center;
  padding: 0 0 3rem 0;
}

.dfgjhfgd
{
  width: 100%;
  background-size: 100% 100%;
}

p a{
    font-weight: 600;
}

.sdfsdfsdf h2 {
  color: #032D60;
}

.dfhbfgd {
  width: 100%;
}
.dfhbfgd img {
  width: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.mgjhbdfg p {
  padding-bottom: 10px;
  color: #181818;
}

.mgjhbdfg a {
  color: #0176D3;
  font-weight: 500;
}

.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
}
.dgndfgdfgdf img {
  width: 100%;
  height: auto;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.gjhfgfgdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjkghdgsd {
  width: 100%;
  background-color: #143664;
  height: 450px;
  padding: 25px;
  border-radius: 4px;
}

.jhgdf {
  width: 100%;
  height: 2px;
  background-color: #40444E;
}

.gdfjkghdgsd h5 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.gdfjkghdgsd p {
  color: white;
  font-size: 16px !important;
  width: 100%;
}

.gdfhgdfg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C35F16;
  text-align: center;
  line-height: 55px;
}

.gdfhgdfg i {
  text-align: center;
  color: white;
}

.ggdfgdfg {
  margin-left: -20px !important;
}

.ggdfgdfg h6 {
  color: white;
  font-size: 18px !important;
  font-weight: 600;
}

.ggdfgdfg p {
  color: #fff;
  font-size: 14px !important;
  width: 100%;
}

.drfghdfgfr {
  margin-top: 15px;
}

.dfjbfg .form-control {
  padding: 10px;
}

.dfjbfg {
  margin-bottom: 25px;
}

.dfjbfg button {
  padding: 14px 45px;
  background-color: #2D4A8A;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

.njhfbg5654 {
  width: 65px;
  height: 65px;
  text-align: center;
  margin: auto;
  background-color: #d6f7f7;
  border-radius: 8px;
  margin-top: 40px;
}
.njhfbg5654 img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.gdfhbgdfgdfg h4 {
  color: #032D60;
  font-weight: 600;
  height: 75px;
  font-size: 24px;
}
.gdfhbgdfgdfg button {
  font-weight: 600;
  color: #032D60;
  text-decoration: underline;
  margin-top: 50px;
  border: none;
}

.container-grid {
  width: 80%;
  margin: auto;
}

.fjhjdfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.sdmsdjhsds{
    margin-top: -7rem;
    position: relative;
    z-index: -9;
}

.sdmsdjhsds img {
  width: 100%;
  height: auto;
}

.aoidjniehrrrr_right h2,
.sdfsdcdrerrrr h2{
    color: var(--main-blue-color);
    font-weight: 600;
    text-transform: capitalize;
}

.dvbrgdvyhyerrrr{
    background: no-repeat;
    background-size: cover;
    background-position: center center;
}

.dvbrgdvyhyerrrr_overlay{
    background: rgba(255, 255, 255, 0.58);
}

.dvbrgdvyhyerrrr .sdfsdfsdf button{
    flex: 0 0 auto;
}






/* Rohit css start */


.RRDD1 .RRDG1{
    position: absolute;
    width: 6rem;
    margin-left: 157px;
    top: 157px;
    animation: fade-right-wiggle 1.5s ease-out ;
}

@keyframes fade-right-wiggle{
  0%{
    transform: translate(-100px,-50px);
    opacity: 0;
    scale: 0;
  }
  25%{
    transform: translate(-75px,40px);
    opacity: 0.25;
    scale: 0.25;
  }
  50%{
    transform: translate(-50px,-30px);
    opacity: 0.5;
    scale: 0.5;
  }
  75%{
    transform: translate(-25px,20px);
    opacity: 0.75;
    scale: 0.75;
  }
  100%{
    transform: translate(0px,0px);
    opacity: 1;
    scale: 1;
  }
}

@keyframes fade-left-wiggle{
  0%{
    transform: translate(100px,-50px);
    opacity: 0;
    scale: 0;
  }
  25%{
    transform: translate(75px,40px);
    opacity: 0.25;
    scale: 0.25;
  }
  50%{
    transform: translate(50px,-30px);
    opacity: 0.5;
    scale: 0.5;
  }
  75%{
    transform: translate(25px,20px);
    opacity: 0.75;
    scale: 0.75;
  }
  100%{
    transform: translate(0px,0px);
    opacity: 1;
    scale: 1;
  }
}

@keyframes fade-up-wiggle{
  0%{
    transform: translate(-50px,-100px);
    opacity: 0;
    scale: 0;
  }
  25%{
    transform: translate(40px,-75px);
    opacity: 0.25;
    scale: 0.25;
  }
  50%{
    transform: translate(-30px,-50px);
    opacity: 0.5;
    scale: 0.5;
  }
  75%{
    transform: translate(20px,-25px);
    opacity: 0.75;
    scale: 0.75;
  }
  100%{
    transform: translate(0px,0px);
    opacity: 1;
    scale: 1;
  }
}

@keyframes fade-down-wiggle{
  0%{
    transform: translate(-50px,100px);
    opacity: 0;
    scale: 0;
  }
  25%{
    transform: translate(40px,75px);
    opacity: 0.25;
    scale: 0.25;
  }
  50%{
    transform: translate(-30px,50px);
    opacity: 0.5;
    scale: 0.5;
  }
  75%{
    transform: translate(20px,25px);
    opacity: 0.75;
    scale: 0.75;
  }
  100%{
    transform: translate(0px,0px);
    opacity: 1;
    scale: 1;
  }
}

.RRDD2 .RRDG2{
  position: absolute;
  width: 56px;
  left: 297px;
  bottom: 13px;
  animation: fade-down-wiggle 1.5s ease-out ;
}


.RRDD3 .RRDG3{
    position: absolute;
    width: 59px;
    left: 284px;
    top: 12px;
    animation: fade-up-wiggle 1.5s ease-out ;
}

.RRDD4 .RRDG4{
  position: absolute;
    width: 5rem;
    right: 173px;
    top: 131px;
    animation: fade-left-wiggle 1.5s ease-out ;
}

.RRDD5 .RRDG5{
  position: absolute;
    width: 13.5rem;
    right: 235px;
    top: 80px;  
    animation: zoom-in 0.7s ease-out;
}

@keyframes zoom-in{
  0%{
    scale: 0;
  }
  50%{
    scale: 1.2;
  }
  100%{
    scale: 1;
  }
}

/* Rohit css end */

/* karina css start */

.g1{
  position:absolute;
  width:20rem !important;
  top:45%;
  left: 13%;
  animation: arti1 2s infinite linear;

}
.g2{
  position:absolute;
  width:20rem !important;
  top:42%;
  right:10%;
  animation: arti2 2s infinite linear;
}
.g3{
  position:absolute;
  width:20rem !important;
  bottom:12%;
  right:11%;
  animation: arti1 2s infinite linear;
}
.g4{
  position:absolute;
  width:22rem !important;
  bottom:14%;
  left:11%;
  animation: arti2 2s infinite linear;
}
@keyframes arti1{
  0%{
    transform: translateY(0);
  }
  30%{
    transform: translateX(-1rem);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes arti2 {
  0%{
    transform: translateY(0);
  }
  30%{
    transform: translateX(1rem);
  }
  100%{
    transform: translateY(0);
  }
}

/* Karina css end */

/* Rohit css start */

.RRRD1 .RRRDD1{
  position: absolute;
    width: 35px;
    left: 412px;
    bottom: 138px;
}

.RRRD2 .RRRDD2{
    position: absolute;
    width: 4.5rem;
    left: 14px;
    bottom: 159px;
}


.RRRD3 .RRRDD3{
  position: absolute;
    width: 7.2rem;
    right: 49px;
    top: 72px;
}

.RRRD4 .RRRDD4{
  position: absolute;
    width: 3.8rem;
    top: 127px;
    left: 203px;
}
/* Rohit css end */


/*karina startt*/

.dbfghsdf{
  position:relative;
}
.img1{
        position: absolute;
    width: 10vw !important;
    height: auto !important;
    left: 19%;
    top: 2%;
}
.img2{
     position: absolute;
    width: 10vw !important;
    height: auto !important;
    left: 20%;
    top: 63%;
}
.img3{
    position: absolute;
    width: 10vw !important;
    height: auto !important;
    left: 60%;
    top: 61%;
}
.img4{
 position: absolute;
    width: 10vw !important;
    height: auto !important;
    left: 60%;
    top: 2%;
}
.img5{
 position: absolute;
    width: 10vw !important;
    height: auto !important;
    left: 76%;
    top: 32%;
}
.img6{
 position: absolute;
    width: 10vw !important;
    height: auto !important;
    left: 4%;
    top: 32%;
}

/*karina endd*/

/*rohit starttttt*/

.Rpicbg{
  width: 100%;
}

/*rohit enddddd*/



/*nisha starttttt*/

.sasimg1{
  position: absolute;
  width: 30vw !important;
  bottom: 27.5%;
  left: 11.5%;
  animation: fadeleft 4s infinite;
}
@keyframes fadeleft{
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sasimg2{
  position: absolute;
  width: 30vw !important;
  bottom: 4.2%;
  left: 7.5%;
  animation: dropUp 4s ease-out forwards infinite;
}
@keyframes dropUp {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.sasimg3{
  position: absolute;
  width: 29vw !important;
  bottom: 27.5%;
  right: 11.5%;
  animation: dropIn 4s ease-out forwards infinite;
}
@keyframes dropIn {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.sasimg4{
  position: absolute;
  width: 30vw !important;
  bottom: 4.7%;
  right: 8%;
  animation: faderight 4s infinite;
}
@keyframes faderight{
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*nisha enddddd*/





@media only screen and (max-width:2551px)
{
   .RRDD1 .RRDG1{
    position: absolute;
    width: 12rem !important;
    margin-left: 304px !important;
    top: 280px !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 112px !important;
    left: 581px !important;
    bottom: 82px !important;
    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 113px !important;
      left: 527px !important;
      top: 12px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute;
    width: 11rem !important;
    right: 358px !important;
    top: 230px !important;
    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
     width: 23.5rem !important;
    right: 29rem !important;
    top: 170px !important;
    animation: zoom-in 0.7s ease-out;
  }

  
 .g1{
  position:absolute;
  width:24rem !important;
  top:45%;
  left: 13%;
  animation: arti1 2s infinite linear;

  }
  .g2{
    position:absolute;
    width:24rem !important;
    top:42%;
    right:10%;
    animation: arti2 2s infinite linear;
  }
  .g3{
    position:absolute;
    width:24rem !important;
    bottom:12%;
    right:11%;
    animation: arti1 2s infinite linear;
  }
  .g4{
    position:absolute;
    width:24rem !important;
    bottom:14%;
    left:11%;
    animation: arti2 2s infinite linear;
  }
  .RRDD1 .RRDG1 {
  margin-left: 210px !important;
    position: absolute;
    top: 304px !important;
    width: 8vw !important;
}
.RRDD3 .RRDG3{
   left: 522px !important;
    position: absolute;
    top: -7px !important;
    width: 5vw !important;
}
.RRDD4 .RRDG4{
  position: absolute;
    right: 275px !important;
    top: 304px !important;
    width: 7vw !important;
}
.RRDD5 .RRDG5{
  right: 478px !important;
    top: 168px !important;
    width: 15vw !important;
}
.RRRD4 .RRRDD4{
    left: 422px !important;
    position: absolute;
    top: 250px !important;
    width: 6vw !important;
}
.RRRD3 .RRRDD3{
    position: absolute;
    right: -10px;
    top: 572px;
    width: 9vw;
}
.RRRD2 .RRRDD2{
    bottom: 294px;
    left: 45px;
    position: absolute;
    width: 5vw;
}

  .sasimg1 {
    top: 23vw !important;
    left: 7vw !important;
  }

  .sasimg3 {
    top: 23vw !important;
    left: 59vw !important;
  }
  

}

@media only screen and (max-width:1921px)
{
    .RRDD1 .RRDG1{
    position: absolute;
    width: 9rem !important;
    margin-left: 217px !important;
    top: 219px !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 77px !important;
    left: 466px !important;
    bottom: 64px !important;
    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 90px !important;
      left: 394px !important;
      top: 1px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute;
    width: 8rem !important;
    right: 248px !important;
    top: 206px !important;
    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
    width: 19.5rem !important;
    right: 21rem !important;
    top: 118px !important;
    animation: zoom-in 0.7s ease-out;
  }

  
 .g1{
  position:absolute;
  width:24rem !important;
  top:45%;
  left: 13%;
  animation: arti1 2s infinite linear;

  }
  .g2{
    position:absolute;
    width:24rem !important;
    top:42%;
    right:10%;
    animation: arti2 2s infinite linear;
  }
  .g3{
    position:absolute;
    width:24rem !important;
    bottom:12%;
    right:11%;
    animation: arti1 2s infinite linear;
  }
  .g4{
    position:absolute;
    width:24rem !important;
    bottom:14%;
    left:11%;
    animation: arti2 2s infinite linear;
  }
   .RRRD4 .RRRDD4 {
        left: 312px !important;
        position: absolute;
        top: 168px !important;
        width: 5vw !important;
    }
      .RRRD2 .RRRDD2{
        bottom: 224px !important;
        left: 30px !important;
        width: 5vw !important;
    }
        .RRRD3 .RRRDD3{
        position: absolute;
        right: -22px;
        top: 421px;
        width: 9vw;
    }

      .sasimg1 {
        top: 27vw !important;
        left: 8vw !important;
      }

      .sasimg3 {
        top: 30vw !important;
        left: 61vw !important;
      }

  
}


@media only screen and (max-width:1601px)
{

    .RRDD1 .RRDG1{
    position: absolute;
    width: 7rem !important;
    margin-left: 195px !important;
     top: 185px !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 70px !important;
    left: 387px !important;
    bottom: 64px !important;;
    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 70px !important;
      left: 329px !important;
      top: 11px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute;
    width: 6rem !important;
    right: 206px !important;
    top: 169px !important;
    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
    width: 15.5rem !important;
     right: 18rem !important;
    top: 107px !important;
    animation: zoom-in 0.7s ease-out;
  }

    
  .g1{
    position:absolute;
    width:24rem !important;
    top:45%;
    left: 13%;
    animation: arti1 2s infinite linear;

    }
    .g2{
      position:absolute;
      width:24rem !important;
      top:42%;
      right:10%;
      animation: arti2 2s infinite linear;
    }
    .g3{
      position:absolute;
      width:24rem !important;
      bottom:12%;
      right:11%;
      animation: arti1 2s infinite linear;
    }
    .g4{
      position:absolute;
      width:24rem !important;
      bottom:14%;
      left:11%;
      animation: arti2 2s infinite linear;
    }
          .RRDD2 .RRDG2{

        bottom: -2px !important;
        left: 195px !important;
        position: absolute;
        width: 9vw !important;
    }
.RRDD5 .RRDG5{
        right: 10rem !important;
        top: 617px !important;
        width: 30.5vw !important;
    }
        .RRDD1 .RRDG1 {
      margin-left: 82px !important;
        position: absolute;
        top: 36rem !important;
        top: 42rem !important;
        width: 14vw !important;
    }
    .RRDD3 .RRDG3{
        left: 185px !important;
        position: absolute;
        top: 547px !important;
        width: 8vw !important;
    }
  .RRDD4 .RRDG4 {
        right: 98px !important;
        top: 41.8rem !important;
        width: 12vw !important;
    }

     .sasimg1 {
    top: 33vw !important;
    left: 8vw !important;
  }

  .sasimg3 {
    top: 34vw !important;
    left: 61vw !important;
  }
}


@media only screen and (max-width:1366px)
{

  .RRDD1 .RRDG1{
    position: absolute;
    width: 6rem  !important;
    margin-left: 157px !important;
    top: 157px !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 56px !important;
    left: 297px !important;
    bottom: 13px !important;
    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 59px !important;
      left: 284px !important;
      top: 12px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute;
      width: 5rem !important;
      right: 173px !important;
      top: 131px !important;
      animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
      width: 13.5rem !important;
      right: 235px !important;
      top: 80px !important;  
      animation: zoom-in 0.7s ease-out;
  }

 .g1{
  position:absolute;
  width:20rem !important;
  top:45%;
  left: 13%;
  animation: arti1 2s infinite linear;

  }
  .g2{
    position:absolute;
    width:20rem !important;
    top:42%;
    right:10%;
    animation: arti2 2s infinite linear;
  }
  .g3{
    position:absolute;
    width:20rem !important;
    bottom:12%;
    right:11%;
    animation: arti1 2s infinite linear;
  }
  .g4{
    position:absolute;
    width:22rem !important;
    bottom:14%;
    left:11%;
    animation: arti2 2s infinite linear;
  }

    .sasimg1 {
    top: 44vw !important;
    left: 8vw !important;
  }

  .sasimg3 {
    top: 45vw !important;
    left: 61vw !important;
  }
  
}

@media only screen and (max-width:1301px){
  .RRDD5 .RRDG5 {
  right: 230px !important;
  top: 76px !important;
 width: 16vw !important;
    }
}
@media only screen and (max-width:1271px){
  .RRDD5 .RRDG5{
        right: 231px !important;
        top: 82px !important;
        width: 15vw !important;
    }
    .RRRD1 .RRRDD1{
    width: 35px;
    left: 388px;
    bottom: 138px;
}
}
@media only screen and (max-width:1221px){
  .RRDD5 .RRDG5{
      right: 229px !important;
        top: 88px !important;
        width: 14vw !important;
    }
    .RRRD2 .RRRDD2 {
    width: 6vw !important;
    left: 14px !important;
    bottom: 125px !important;
}

.RRRD3 .RRRDD3{
    width: 10vw !important;
    right: 49px !important;
    top: 59px !important;
}
    .RRRD1 .RRRDD1{
        width: 35px !important;
        left: 348px !important;
        bottom: 121px !important;
    }
}
@media only screen and (max-width:1191px){
  .RRDD5 .RRDG5{
        right: 232px !important;
        top: 95px !important;
        width: 13vw !important;
    }
}
@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }
      .sdfghdfgdf 
  {
    margin-top: 9rem;
  }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }

    .RRDD1 .RRDG1{
    position: absolute;
    width: 14vw !important;
    margin-left: 225px !important;
    top: 40rem !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 8vw !important;
    left: 455px !important;
    bottom: 52px !important;
    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
        width: 8vw !important;
        left: 418px !important;
        top: 411px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute; 
    width: 12vw !important;
    right: 276px !important;
    top: 38rem !important;
    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
    width: 28.5vw !important;
    right: 23rem !important;
    top: 541px !important;

    animation: zoom-in 0.7s ease-out;
  }

  
 .g1{
  position:absolute;
  width:24vw !important;
  top:45%;
  left: 13%;
  animation: arti1 2s infinite linear;

  }
  .g2{
    position:absolute;
    width:24vw !important;
    top:42%;
    right:10%;
    animation: arti2 2s infinite linear;
  }
  .g3{
    position:absolute;
    width:24vw !important;
    bottom:12%;
    right:11%;
    animation: arti1 2s infinite linear;
  }
  .g4{
    position:absolute;
    width:24vw !important;
    bottom:14%;
    left:11%;
    animation: arti2 2s infinite linear;
  }

   .sasimg1 {
    top: 61vw !important;
    left: 7vw !important;
  }

  .sasimg3 {
    top: 62vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 46vw !important;
    left: 23vw !important;
    width: 15vw !important;
  }

  .img3 {
    top: 78vw !important;
    left: 65vw !important;
    width: 15vw !important;
  }

  .img2 {
    top: 78vw !important;
    left: 23vw !important;
    width: 15vw !important;
  }

  .img4 {
    top: 46vw !important;
    left: 64vw !important;
    width: 15vw !important;
  }

  .img5 {
    top: 63vw !important;
    left: 73vw !important;
    width: 15vw !important;

  }

  .img6 {
    top: 62vw !important;
    left: 13vw !important;
    width: 15vw !important;
  }
  
}

@media only screen and (max-width:801px) {

  .sasimg1 {
    top: 78vw !important;
    left: 7vw !important;
  }

  .sasimg3 {
    top: 78vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 54vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 89vw !important;
    left: 65vw !important;
    width: 17vw !important;
  }

  .img2 {
    top: 89vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img4 {
    top: 54vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 72vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 72vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }
}




@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }

        .RRDD1 .RRDG1{
    position: absolute;
    width: 14vw !important;
        margin-left: 135px !important;
        top: 38rem !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
        width: 8vw !important;
        left: 279px !important;
        bottom: 39px !important;
    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
        width: 8vw !important;
        left: 255px !important;
        top: 485px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute; 
    width: 12vw !important;
    right: 169px !important;
    top: 37rem !important;
    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
    width: 29.5vw !important;
    right: 14rem !important;
    top: 549px !important;

    animation: zoom-in 0.7s ease-out;
  }

  
 .g1{
  position:absolute;
  width:24vw !important;
  top:45%;
  left: 13%;
  animation: arti1 2s infinite linear;

  }
  .g2{
    position:absolute;
    width:24vw !important;
    top:42%;
    right:10%;
    animation: arti2 2s infinite linear;
  }
  .g3{
    position:absolute;
    width:24vw !important;
    bottom:12%;
    right:11%;
    animation: arti1 2s infinite linear;
  }
  .g4{
    position:absolute;
    width:24vw !important;
    bottom:14%;
    left:11%;
    animation: arti2 2s infinite linear;
  }

   .sasimg1 {
    top: 129vw !important;
    left: 7vw !important;

  }

  .sasimg3 {
    top: 131vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 75vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 108vw !important;
    left: 65vw !important;
    width: 17vw !important;

  }

  .img2 {
    top: 108vw !important;
    left: 21vw !important;
    width: 17vw !important;

  }

  .img4 {
    top: 75vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 92vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 91vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }
}



@media only screen and (max-width:540px)
{
    .btn126{
        margin-left: 0 !important;
    }
    
        .RRDD1 .RRDG1{
    position: absolute;
      width: 14vw !important;
      margin-left: 126px !important;
      top: 36rem !important;
      top: 37rem !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
        width: 8vw !important;
        left: 279px !important;
        bottom: 39px !important;
    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 8vw !important;
      left: 231px !important;
      top: 488px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute; 
    width: 12vw !important;
    right: 153px !important;
    top: 36rem !important;
    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
    width: 29.5vw !important;
    right: 12rem !important;
    top: 549px !important;

    animation: zoom-in 0.7s ease-out;
  }

  
 .g1{
  position:absolute;
  width:24vw !important;
  top:66%;
  left: 13%;
  animation: arti1 2s infinite linear;

  }
  .g2{
    position:absolute;
    width:24vw !important;
    top:66%;
    right:10%;
    animation: arti2 2s infinite linear;
  }
  .g3{
    position:absolute;
    width:24vw !important;
    bottom:12%;
    right:11%;
    animation: arti1 2s infinite linear;
  }
  .g4{
    position:absolute;
    width:24vw !important;
    bottom:14%;
    left:11%;
    animation: arti2 2s infinite linear;
  }

   .sasimg1 {
    top: 165vw !important;
    left: 7vw !important;

  }

  .sasimg3 {
    top: 167vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 90vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 125vw !important;
    left: 65vw !important;
    width: 17vw !important;
  }

  .img2 {
    top: 125vw !important;
    left: 21vw !important;
    width: 17vw !important;

  }

  .img4 {
    top: 90vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 108vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 106vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }
}


@media only screen and (max-width:431px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }

    .RRDD1 .RRDG1{
    position: absolute;
    width: 14vw !important;
    margin-left: 104px !important;
    top: 36rem !important;
    top: 40rem !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 8vw !important;
    left: 203px !important;
    bottom: 32px !important;

    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 8vw !important;
      left: 180px !important;
      top: 551px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute; 
        width: 12vw !important;
        right: 117px !important;
        top: 39rem !important;

    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
    width: 29.5vw !important;
      right: 10rem !important;
      top: 599px !important;
    animation: zoom-in 0.7s ease-out;
  }

  
  .g1{
    position:absolute;
    width:24vw !important;
    top:75%;
    left: 13%;
    animation: arti1 2s infinite linear;

    }
    .g2{
      position:absolute;
      width:24vw !important;
      top:75%;
      right:10%;
      animation: arti2 2s infinite linear;
    }
    .g3{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      right:11%;
      animation: arti1 2s infinite linear;
    }
    .g4{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      left:11%;
      animation: arti2 2s infinite linear;
    }
    .RRDD5 .RRDG5 {
        position: absolute;
        width: 29.5vw !important;
        right: 10rem !important;
        top: 615px !important;
 
    }
        .RRDD5 .RRDG5 {
        position: absolute;
        width: 30.5vw !important;
        right: 9.9rem !important;
        top: 615px !important;
 
    }
    .RRDD1 .RRDG1{
        position: absolute;
        width: 14vw !important;
        margin-left: 91px !important;
        top: 41.5rem !important;
  
    }
    .RRDD4 .RRDG4{
        position: absolute;
        width: 12vw !important;
        right: 111px !important;
        top: 41rem !important;

    }
        .RRDD2 .RRDG2 {
        position: absolute;
        width: 8vw !important;
        left: 202px !important;
        bottom: 7px !important;
     
    }
        .RRRD4 .RRRDD4 {
        left: 185px !important;
        position: absolute;
        top: 105px !important;
        width: 11vw !important;
    }
        .RRRD1 .RRRDD1{
        width: 38px !important;
        left: 345px !important;
        bottom: 129px !important;
    }
        .RRRD2 .RRRDD2{
        width: 12vw !important;
        left: 14px !important;
        bottom: 147px !important;
    }
        .RRRD1 .RRRDD1{
        width: 38px !important;
        left: 345px !important;
        bottom: 147px !important;
    }
    .g3{
        position: absolute;
        width: 24vw !important;
        bottom: 10%;
        right: 4%;
  
}
    .g4 {
        position: absolute;
        width: 24vw !important;
        bottom: 10%;
        left: 8%;
   
    }

     .sasimg1 {
    top: 236vw !important;
    left: 7vw !important;

  }

  .sasimg3 {
    top: 236vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 125vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 159vw !important;
    left: 65vw !important;
    width: 17vw !important;
  }

  .img2 {
    top: 160vw !important;
    left: 21vw !important;
    width: 17vw !important;

  }

  .img4 {
    top: 123vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 141vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 142vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }
}


@media only screen and (max-width:430px)
{


    .RRDD1 .RRDG1{
    position: absolute;
    width: 14vw !important;
    margin-left: 104px !important;
    top: 36rem !important;
    top: 41rem !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 8vw !important;
    left: 203px !important;
    bottom: 32px !important;

    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 8vw !important;
      left: 180px !important;
        top: 575px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute; 
        width: 12vw !important;
      right: 108px !important;
        top: 40rem !important;


    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
        width: 30.5vw !important;
        right: 9rem !important;
        top: 618px !important;
    animation: zoom-in 0.7s ease-out;
  }

  
  .g1{
    position:absolute;
    width:24vw !important;
    top:78%;
    left: 13%;
    animation: arti1 2s infinite linear;

    }
    .g2{
      position:absolute;
      width:24vw !important;
      top:78%;
      right:10%;
      animation: arti2 2s infinite linear;
    }
    .g3{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      right:11%;
      animation: arti1 2s infinite linear;
    }
    .g4{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      left:11%;
      animation: arti2 2s infinite linear;
    }

     .sasimg1 {
    top: 259vw !important;
    left: 7vw !important;

  }

  .sasimg3 {
    top: 259vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 134vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 170vw !important;
    left: 65vw !important;
    width: 17vw !important;
  }

  .img2 {
    top: 170vw !important;
    left: 21vw !important;
    width: 17vw !important;

  }

  .img4 {
    top: 133vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 152vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 152vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }
}




@media only screen and (max-width:394px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

    
    .RRDD1 .RRDG1{
    position: absolute;
    width: 14vw !important;
    margin-left: 88px !important;
    top: 36rem !important;
    top: 41rem !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 8vw !important;
    left: 184px !important;
    bottom: 32px !important;

    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 8vw !important;
      left: 188px !important;
        top: 575px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute; 
        width: 12vw !important;
      right: 108px !important;
        top: 40rem !important;


    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
        width: 30.5vw !important;
        right: 9rem !important;
        top: 618px !important;
    animation: zoom-in 0.7s ease-out;
  }

  
  .g1{
    position:absolute;
    width:24vw !important;
    top:78%;
    left: 13%;
    animation: arti1 2s infinite linear;

    }
    .g2{
      position:absolute;
      width:24vw !important;
      top:78%;
      right:10%;
      animation: arti2 2s infinite linear;
    }
    .g3{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      right:11%;
      animation: arti1 2s infinite linear;
    }
    .g4{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      left:11%;
      animation: arti2 2s infinite linear;
    }
    .RRDD5 .RRDG5{
        position: absolute;
        width: 28.5vw !important;
        right: 9rem !important;
        top: 618px !important;

    }
        .RRDD3 .RRDG3{
        position: absolute;
        width: 8vw !important;
        left: 167px !important;
        top: 554px !important;
  
    }
    .RRDD5 .RRDG5{
        position: absolute;
        width: 30.5vw !important;
        right: 9rem !important;
        top: 612px !important;
    }
    .RRDD4 .RRDG4{
        position: absolute;
        width: 12vw !important;
        right: 93px !important;
        top: 41rem !important;
     
    }
    .RRRD4 .RRRDD4 {
        left: 160px !important;
        position: absolute;
        top: 88px !important;
        width: 11vw !important;
    }
    .RRRD1 .RRRDD1{
        width: 38px !important;
        left: 303px !important;
        bottom: 130px !important;
    }
    .RRRD2 .RRDD2{
        width: 13vw !important;
        left: 14px !important;
        bottom: 136px !important;
    }
    .g3 {
        position: absolute;
        width: 24vw !important;
        bottom: 10% !important;
        right: 7% !important;
 
    }

.RRDD3 .RRDG3 {
        position: absolute;
        width: 8vw !important;
        left: 180px !important;
        top: 551px !important;

    }

     .sasimg1 {
    top: 277vw !important;
    left: 7vw !important;

  }

  .sasimg3 {
    top: 277vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 141vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 176vw !important;
    left: 65vw !important;
    width: 17vw !important;
  }

  .img2 {
    top: 177vw !important;
    left: 21vw !important;
    width: 17vw !important;

  }

  .img4 {
    top: 141vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 158vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 159vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }

    
    .RRDD1 .RRDG1{
    position: absolute;
    width: 14vw !important;
    margin-left: 82px !important;
    top: 36rem !important;
    top: 41rem !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 8vw !important;
    left: 169px !important;
    bottom: 26px !important;

    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
      width: 8vw !important;
        left: 159px !important;
        top: 575px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute; 
        width: 12vw !important;
      right: 108px !important;
        top: 40rem !important;


    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
        width: 30.5vw !important;
        right: 9rem !important;
        top: 618px !important;
    animation: zoom-in 0.7s ease-out;
  }

  
  .g1{
    position:absolute;
    width:24vw !important;
    top:78%;
    left: 13%;
    animation: arti1 2s infinite linear;

    }
    .g2{
      position:absolute;
      width:24vw !important;
      top:78%;
      right:10%;
      animation: arti2 2s infinite linear;
    }
    .g3{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      right:11%;
      animation: arti1 2s infinite linear;
    }
    .g4{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      left:11%;
      animation: arti2 2s infinite linear;
    }
    

     .sasimg1 {
    top:304vw !important;
    left: 7vw !important;

  }

  .sasimg3 {
    top: 304vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 148vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 182vw !important;
    left: 65vw !important;
    width: 17vw !important;
  }

  .img2 {
    top: 183vw !important;
    left: 21vw !important;
    width: 17vw !important;
  }

  .img4 {
    top: 148vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 165vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 165vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }

}

@media only screen and (max-width:360px)
{


    
    .RRDD1 .RRDG1{
    position: absolute;
    width: 14vw !important;
    margin-left: 82px !important;
    top: 36rem !important;
    top: 47rem !important;
    animation: fade-right-wiggle 1.5s ease-out ;
  }

  
  .RRDD2 .RRDG2{
    position: absolute;
    width: 8vw !important;
    left: 169px !important;
    bottom: 26px !important;

    animation: fade-down-wiggle 1.5s ease-out ;
  }


  .RRDD3 .RRDG3{
      position: absolute;
        width: 8vw !important;
        left: 153px !important;
        top: 672px !important;
      animation: fade-up-wiggle 1.5s ease-out ;
  }

  .RRDD4 .RRDG4{
    position: absolute; 
        width: 12vw !important;
        right: 96px !important;
        top: 46rem !important;


    animation: fade-left-wiggle 1.5s ease-out ;
  }

  .RRDD5 .RRDG5{
    position: absolute;
        width: 30.5vw !important;
        right: 8rem !important;
        top: 710px !important;
    animation: zoom-in 0.7s ease-out;
  }

  
  .g1{
    position:absolute;
    width:24vw !important;
    top:78%;
    left: 13%;
    animation: arti1 2s infinite linear;

    }
    .g2{
      position:absolute;
      width:24vw !important;
      top:78%;
      right:10%;
      animation: arti2 2s infinite linear;
    }
    .g3{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      right:11%;
      animation: arti1 2s infinite linear;
    }
    .g4{
      position:absolute;
      width:24vw !important;
      bottom:10%;
      left:11%;
      animation: arti2 2s infinite linear;
    }


   .sasimg1 {
    top:329vw !important;
    left: 7vw !important;

  }

  .sasimg3 {
    top: 329vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 153vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 189vw !important;
    left: 65vw !important;
    width: 17vw !important;
  }

  .img2 {
    top: 189vw !important;
    left: 21vw !important;
    width: 17vw !important;
  }

  .img4 {
    top: 153vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 170vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 170vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }

}

@media only screen and (max-width:320px) {

   .sasimg1 {
    top:410vw !important;
    left: 7vw !important;
  }
  .sasimg2 {
    top:427vw !important;
    left: 7vw !important;
  }
  .sasimg3 {
    top: 410vw !important;
    left: 59vw !important;
  }
  .sasimg4 {
    top: 427vw !important;
    left: 59vw !important;
  }

  .img1 {
    top: 197vw !important;
    left: 23vw !important;
    width: 17vw !important;
  }

  .img3 {
    top: 233vw !important;
    left: 65vw !important;
    width: 17vw !important;
  }

  .img2 {
    top: 233vw !important;
    left: 21vw !important;
    width: 17vw !important;
  }

  .img4 {
    top: 196vw !important;
    left: 64vw !important;
    width: 17vw !important;
  }

  .img5 {
    top: 215vw !important;
    left: 73vw !important;
    width: 17vw !important;

  }

  .img6 {
    top: 215vw !important;
    left: 13vw !important;
    width: 17vw !important;
  }
}


@media only screen and (max-width:281px) {
  .image1 {
    position: absolute;
    width: 28vw !important;
    height: auto !important;
    left: 68vw;
    top: 290.5vw;
  }

  .image4 {
    position: absolute;
    width: 30vw !important;
    height: auto !important;
    right: 5vw;
    bottom: 4.5vw;
  }

  .image3 {
    position: absolute;
    width: 36vw !important;
    height: auto !important;
    left: 6vw;
    bottom: 4vw;
  }

  .transit01 {
    position: absolute;
    width: 24vw !important;
    top: 0.5vw;
    left: 40vw;
  }

  .transit02 {
    position: absolute;
    width: 17vw !important;
    top: 18.5vw;
    right: 16vw;
  }

  .transit05 {
    position: absolute;
    width: 17vw !important;
    top: 20vw;
    left: 13.5vw;
  }

  .bu3 {
    position: absolute;
    height: auto !important;
    width: 14.5vw !important;
    bottom: 37vw;
    right: 24vw;
  }

  .bu1 {
    position: absolute;
    height: auto !important;
    width: 17.5vw !important;
    bottom: 11.5vw;
    right: 56vw;
  }

  .bu2 {
    position: absolute;
    height: auto !important;
    width: 15.5vw !important;
    bottom: 1.5vw;
    right: 36.5vw;
  }
}




