.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 30px;
  border-radius: 18px;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
  height: 350px;
}
.dgndfgdfgdf img {
  width: 100%;
  height: 100%;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.bhyudfdg {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
}
.bhyudfdg img {
  width: 100%;
  height: 100%;
}

.fnhjifdfdg {
  text-align: center;
}
.fnhjifdfdg h6 {
  color: #032D60;
  font-size: 25px;
  font-weight: 600;
  padding-top: 5px;
  font-family: var(--font-family-montserrat);
}
.fnhjifdfdg p {
  color: black;
  font-size: 15px;
  padding-top: 15px;
}

.vhfdhhgfdfdg {
  width: 100%; 
  padding: 40px 0;
}

.njvfdgfd {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.dfhbfgd {
  width: 100%;
  height: 450px;
}
.dfhbfgd img {
  width: 100%;
  height: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.sdnfjhsdfsdfsdf {
  width: 100%;
  padding: 40px 0;
}

.tab-menu {
  margin-top: 34px;
}
.tab-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tab-menu ul li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.tab-menu ul li > div {
  display: inline-block;
  padding: 18px 26px;
  display: block;
  text-decoration: none;
  transition: 0.5s all;
  border-left: 1px solid #fff;
}
.tab-menu ul li > div:hover {
  background: #d0d062;
  color: #fff;
  text-decoration: none;
}
.tab-menu ul li > div.active {
  border-left: 1px solid var(--main-blue-common-color);
  color: #000;
  text-decoration: none;
}
.tab-box {
  display: none;
}

.tab-teaser {
  width: 100%;
}
.tab-main-box {
  padding: 10px 30px;
  border-radius: 1.4rem;
  margin-top: -2px;
}

.asdfdergdg h4{
    font-size: 1.2rem !important;
    color: #000;
    font-weight: 600;
    margin-bottom: 1rem;
}

.asdfdergdg p{
    font-size: 1rem !important;
    color: #000;
}





/* //banner section */

.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: initial;
  padding: 5rem 20px 20px 60px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}


/* //banner section */









@media only screen and (max-width:2551px){


  .ldsimg4 {
    right: 3% !important;
    top: 24.6% !important;
    width: 19.3rem !important;
  }

  .ldsimg5 {
    bottom: 48.1% !important;
    right: 35.6% !important;
    width: 18rem !important;
  }

  .ldsimg2 {
    right: 20.9% !important;
    top: 11% !important;
    width: 13.2rem !important;
  }

  .ldsimg3 {
    right: 35% !important;
    top: 24.7% !important;
    width: 17.4rem !important;
  }

  .ldsimg6 {
    bottom: 48% !important;
    right: 2.8% !important;
    width: 16.8rem !important;
  }

  .ldsimg1 {
    bottom: 53% !important;
    right: 14.3% !important;
    width: 32rem !important;
  }
}
@media only screen and (max-width:1921px){
 .ldsimg1 {
    bottom: 47% !important;
    right: 15.3% !important;
    width: 22rem !important;
  }

  .ldsimg2 {
    right: 20.4% !important;
    top: 13% !important;
    width: 11.2rem !important;
  }

  .ldsimg4 {
    right: 2% !important;
    top: 27.7% !important;
    width: 15.3rem !important;

  }

  .ldsimg3 {
    right: 35% !important;
    top: 27.7% !important;
    width: 14.4rem !important;
  }

  .ldsimg5 {
    bottom: 41.1% !important;
    right: 36.1% !important;
    width: 15rem !important;
  }

  .ldsimg6 {
    bottom: 40% !important;
    right: 1.8% !important;
    width: 13.8rem !important;
  }
}

@media only screen and (max-width:1600px){


  .ldsimg4 {
    right: 2% !important;
    top: 30.8% !important;
    width: 12.3rem !important;
  }

  .ldsimg3 {
    right: 35% !important;
    top: 30.5% !important;
    width: 11.4rem !important;

  }

  .ldsimg1 {
    bottom: 53% !important;
    right: 15.3% !important;
    width: 19rem !important;
  }

  .ldsimg2 {
    right: 20vw !important;
    top: 16% !important;
    width: 9.2rem !important;
  }

  .ldsimg5 {
    bottom: 40.1% !important;
    right: 36.1% !important;
    width: 13rem !important;
  }

  .ldsimg6 {
    bottom: 40% !important;
    right: 1.8% !important;
    width: 11.8rem !important;
  }


}
@media only screen and (max-width:1367px){
  .ldsimg1 {
          bottom: 32% !important;
        right: 15.3% !important;
        width: 16rem !important;

}
.ldsimg2 {
   right: 18.9% !important;
        top: 22% !important;
        width: 10.2rem !important;
}
.ldsimg4 {
        right: 1% !important;
        top: 42.8% !important;
        width: 13.3rem !important;

}
.ldsimg3 {
     right: 33% !important;
        top: 41.5% !important;
        width: 12.4rem !important;
}
.ldsimg5 {
        bottom: 23.1% !important;
        right: 36.1% !important;
        width: 12rem !important;
}
.ldsimg6 {
        bottom: 22% !important;
        right: -0.2% !important;
        width: 11.8rem !important;
}
}






@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

      /* .sdfghdfgdf 
    {
      margin-top: 9rem;
    } */

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        /* padding:20px !important; */
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}

@media only screen and (max-width:601px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
    
    .ldsimg2{
        right: 37.9% !important;
        top: 37% !important;
        width: 24vw !important;
    }
        .ldsimg3 {
        right: 64% !important;
        top: 46.5% !important;
        width: 29vw !important;
    }
        .ldsimg4{
        right: 3% !important;
        top: 46.8% !important;
        width: 32vw !important;

    }
    
    .ldsimg5 {
        bottom: 35.1% !important;
        right: 70.1% !important;
        width: 29vw !important;
    }

    
    .ldsimg6{
        bottom: 35% !important;
        right: 1.8% !important;
        width: 28vw !important;
    }
    .ldsimg1 {
        bottom: 38% !important;
        right: 33% !important;
        width: 30vw !important;
    }
    .ldspic1{
    width: 20vw !important;
    top: 7% !important;
    left: 4% !important;
}
.ldspic2{
  width: 24vw !important;
    top: 6% !important;
    right: 5% !important;
}
.ldspic3 {
    width: 22vw !important;
    bottom: 24% !important;
    left: 4% !important;
}
.ldspic4{
    width: 21vw !important;
    bottom: 24% !important;
    right: 4% !important;
}

  }




@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}

@media only screen and (max-width:540px){
      .ldsimg3 {
        right: 64% !important;
        top: 60.5% !important;
        width: 25vw !important;
    }
    
        .ldsimg4 {
        right: 10% !important;
        top: 60.8% !important;
        width: 25vw !important;
    }
    .ldsimg5{
        bottom: 19.1% !important;
        right: 68.1% !important;
        width: 26vw !important;
    }
    
        .ldsimg6 {
        bottom: 19% !important;
        right: 8.8% !important;
        width: 23vw !important;
    }
    .ldsimg1 {
        bottom: 23% !important;
        right: 31% !important;
        width: 36vw !important;
    }
    .ldspic1 {
        width: 20vw !important;
        top: 7% !important;
        left: 6% !important;
    }
    .ldspic2{
        width: 24vw !important;
        top: 7% !important;
        right: 6% !important;
    }
      .ldspic3{
        width: 22vw !important;
        bottom: 24% !important;
        left: 6% !important;
    }
    .ldspic4{
        width: 21vw !important;
        bottom: 24% !important;
        right: 6% !important;
    }

  }
@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}
@media only screen and (max-width:431px){
  .sdfsdfsdf h2 {
    margin-top: 1vw !important;
  }

  .sdfghdfgdf {
    margin-top: 4vw !important;
  }

  .ldsimg2 {
    right: 39.9% !important;
    top: 55% !important;
    width: 20vw !important;
  }

  .ldsimg3 {
    right: 68% !important;
    top: 62.5% !important;
    width: 25vw !important;

  }

  .ldsimg4 {
    right: 6% !important;
    top: 62.8% !important;
    width: 25vw !important;
  }

  .ldsimg5 {
    bottom: 23.9% !important;
    right: 72.1% !important;
    width: 26vw !important;
  }

  .ldsimg6 {
    bottom: 24% !important;
    right: 2.8% !important;
    width: 23vw !important;

  }

  .ldsimg1 {
    bottom: 24% !important;
    right: 32% !important;
    width: 35vw !important;
  }

  .ldspic1 {
    width: 18vw !important;
    top: 7% !important;
    left: 8% !important;
  }

  .ldspic2 {
    width: 22vw !important;
    top: 7% !important;
    right: 7% !important;
  }

  .ldspic3 {
    width: 22vw !important;
    bottom: 24% !important;
    left: 7% !important;
  }

  .ldspic4 {
    width: 20vw !important;
    bottom: 24% !important;
    right: 8% !important;
  }
}


@media only screen and (max-width:414px){
   .ldsimg2 {
    right: 39.9% !important;
    top: 59% !important;
    width: 20vw !important;
  }

  .ldsimg3 {
    right: 68% !important;
    top: 66.5% !important;
    width: 25vw !important;

  }

  .ldsimg4 {
    right: 6% !important;
    top: 66.8% !important;
    width: 25vw !important;
  }

  .ldsimg5 {
    bottom: 19.9% !important;
    right: 76.1% !important;
    width: 26vw !important;
  }

  .ldsimg6 {
    bottom: 20% !important;
    right: 2.8% !important;
    width: 23vw !important;

  }

  .ldsimg1 {
    bottom: 20% !important;
    right: 32% !important;
    width: 35vw !important;
  }
 .ldspic1{
    width: 18vw !important;
    top: 7% !important;
    left: 8% !important;
}
.ldspic2{
    width: 22vw !important;
    top: 7% !important;
    right: 7% !important;
}
.ldspic3 {
    width: 22vw !important;
    bottom: 24% !important;
    left: 7% !important;
}
.ldspic4 {
    width: 20vw !important;
    bottom: 24% !important;
    right: 8% !important;
}
}





@media only screen and (max-width:394px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

      .ldsimg2 {
    right: 39.9% !important;
    top: 63% !important;
    width: 20vw !important;
  }

  .ldsimg3 {
    right: 68% !important;
    top: 70.5% !important;
    width: 25vw !important;

  }

  .ldsimg4 {
    right: 6% !important;
    top: 70.8% !important;
    width: 25vw !important;
  }

  .ldsimg5 {
    bottom: 15.9% !important;
    right: 71.1% !important;
    width: 26vw !important;
  }

  .ldsimg6 {
    bottom: 16% !important;
    right: 2.8% !important;
    width: 23vw !important;

  }

  .ldsimg1 {
    bottom: 16% !important;
    right: 32% !important;
    width: 35vw !important;
  }
  
}


@media only screen and (max-width:376px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
    .ldsimg2 {
        right: 39.9% !important;
        top: 81% !important;
        width: 20vw !important;
    }
    .ldsimg3 {
        right: 67% !important;
        top: 90% !important;
        width: 25vw !important;
    }
    .ldsimg4{
        right: 8% !important;
        top: 91% !important;
        width: 25vw !important;
    }
    .ldsimg5{
        bottom: -7% !important;
        right: 72.1% !important;
        width: 26vw !important;
    }
    .ldsimg6{
        bottom: -7% !important;
        right: 2.8% !important;
        width: 23vw !important;
    }
   .ldsimg1{
        bottom: -4% !important;
        right: 32% !important;
        width: 35vw !important;
      }


    .ldspic1 {
        width: 16vw !important;
        top: 7% !important;
        left: 11% !important;
    }
        .ldspic2 {
        width: 19vw !important;
        top: 7% !important;
        right: 10% !important;
    }
    .ldspic3{
        width: 20vw !important;
        bottom: 24% !important;
        left: 10% !important;
    }
        .ldspic4 {
        width: 19vw !important;
        bottom: 24% !important;
        right: 10% !important;
    }

}



@media only screen and (max-width:360px)
{
   .ldsimg2 {
    right: 39.9% !important;
    top: 71% !important;
    width: 20vw !important;
  }

  .ldsimg3 {
    right: 68% !important;
    top: 79.5% !important;
    width: 25vw !important;

  }

  .ldsimg4 {
    right: 6% !important;
    top: 79.8% !important;
    width: 25vw !important;
  }

  .ldsimg5 {
    bottom: 6.9% !important;
    right: 71.1% !important;
    width: 26vw !important;
  }

  .ldsimg6 {
    bottom: 7% !important;
    right: 2.8% !important;
    width: 23vw !important;

  }

  .ldsimg1 {
    bottom: 8% !important;
    right: 32% !important;
    width: 35vw !important;
  }
  

}






@media only screen and (max-width:321px){
  .ldsimg1 {
        bottom: 17% !important;
        right: 32.5% !important;
        width: 35vw !important;
    }
    .ldsimg2 {
        right: 39.9% !important;
        top: 68% !important;
        width: 20vw !important;
    }
        .ldsimg3{
        right: 64% !important;
        top: 74.5% !important;
        width: 25vw !important;
    }
        .ldsimg4 {
        right: 12% !important;
        top: 74.9% !important;
        width: 25vw !important;

}
.ldsimg5 {
        bottom: 13.1% !important;
        right: 68.1% !important;
        width: 26vw !important;
    }
    .ldsimg6 {
        bottom: 13% !important;
        right: 12.8% !important;
        width: 23vw !important;
    }
    .ldspic1 {
        width: 13vw !important;
        top: 10% !important;
        left: 15% !important;
    }
    .ldspic2 {
        width: 16vw !important;
        top: 9% !important;
        right: 13% !important;
    }
    .ldspic3 {
        width: 16vw !important;
        bottom: 24% !important;
        left: 15% !important;
    }
        .ldspic4 {
        width: 15vw !important;
        bottom: 24% !important;
        right: 14% !important;
    }
}
@media only screen and (max-width:281px){
  .ldsimg1 {
        bottom: 12% !important;
        right: 32.5% !important;
        width: 35vw !important;
    }
    .ldsimg2 {
        right: 39.9% !important;
        top: 75% !important;
        width: 20vw !important;
    }
        .ldsimg3 {
        right: 65% !important;
        top: 81.5% !important;
        width: 25vw !important;
    }
    .ldsimg4{
        right: 12% !important;
        top: 81.9% !important;
        width: 25vw !important;
    }
    .ldsimg5 {
        bottom: 8.1% !important;
        right: 68.1% !important;
        width: 26vw !important;
    }
        .ldsimg6 {
        bottom: 8% !important;
        right: 12.8% !important;
        width: 23vw !important;
    }
    .ldspic1 {
        width: 10vw !important;
        top: 12% !important;
        left: 19% !important;
    }
        .ldspic2 {
        width: 12vw !important;
        top: 12% !important;
        right: 18% !important;
    }
    .ldspic3{
        width: 14vw !important;
        bottom: 27% !important;
        left: 18% !important;
    }
    .ldspic4{
        width: 12vw !important;
        bottom: 29% !important;
        right: 17% !important;
    }
}
/* Nisha css start */
.ldsimg1{
  position: absolute;
  width: 22rem ;
    bottom: 22%;
    right: 11.3%;
  animation: blueglow 3s infinite;
}
@keyframes blueglow{
  0%, 100%{
    filter: drop-shadow(0 0 0px rgb(234, 167, 44));
  }
  50%{
    filter: drop-shadow(0 0 20px rgb(234, 167, 44));
  }
}
.ldsimg2{
  position: absolute;
  width: 8.2rem ;
  top: 24%;
  right: 20%;
  animation: breathing 3.5s infinite;
}
@keyframes breathing{
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
}
.ldsimg3{
  position: absolute;
  width: 11.4rem ;
  top: 40.7%;
  right: 34%;
  animation: fadeleft 4s infinite ease forwards;
}
@keyframes fadeleft{
  0%{
    transform: translateX(-50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.ldsimg4{
  position: absolute;
  width: 11.3rem ;
  top: 43.6%;
  right: 2%;
  animation: faderight 4s infinite ease forwards;
}
@keyframes faderight{
  0%{
    transform: translateX(50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.ldsimg5{
  position: absolute;
  width: 11rem ;
  bottom: 22.1%;
  right: 36.6%;
  animation: penduluml 2.5s infinite;
}
@keyframes penduluml{
  0%, 100%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-7deg);
  }
}
.ldsimg6{
  position: absolute;
  width: 9.8rem ;
  bottom: 22%;
  right: 0.8%;
  animation: pendulumr 2.5s infinite;
}
@keyframes pendulumr{
  0%, 100%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(7deg);
  }
}
/* Nisha css end */

/* Nisha css start */
.ldspic1{
  position: absolute;
  width: 12vw;
  top: 7%;
  left: 4%;
}
.ldspic2{
  position: absolute;
  width: 12vw;
  top: 6%;
  right: 5%;
}
.ldspic3{
  position: absolute;
  width: 12vw;
  bottom: 24%;
  left: 4%;
}
.ldspic4{
  position: absolute;
  width: 12vw;
  bottom: 24%;
  right: 4%;
}
/* Nisha css end */

/* Nisha css start */
.ldspicture1{
  position: absolute;
  width: 13.5vw;
  top: 1%;
  left: 4%;
  animation: wavefloat 3.5s;
}
@keyframes wavefloat{
  0%{
    transform: translate(-50px,50px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}
.ldspicture2{
  position: absolute;
  width: 14vw;
  top: 4%;
  right: 4%;
  animation: spinin 3s;
}
@keyframes spinin{
  0%{
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }
  100%{
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
.ldspicture3{
  position: absolute;
  width: 13vw;
  bottom: 23%;
  left: 4%;
  animation: spinin 3s;
}
.ldspicture4{
  position: absolute;
  width: 14vw;
  bottom: 21.5%;
  right: 4%;
  animation: wavefloat 3.5s;
}
@keyframes wavefloat{
  0%{
    transform: translate(50px,-50px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}
/* Nisha css end */

/* Karina css start */
.img1{
  position: absolute;
    width: 18vw !important;
    height: auto !important;
    right: 31%;
    top: 37%;
}
.img2{
      position: absolute;
    width: 10vw !important;
    height: auto !important;
    left: 15%;
    top: 12%;
}
.img3{
    position: absolute;
    width: 9vw !important;
    height: auto !important;
    right: 41%;
    top: 3%;
}
.img4{
    position: absolute;
    width: 10vw !important;
    height: auto !important;
    right: 10%;
    top: 11%
}
.img5{
          position: absolute;
    width: 12vw;
    height: auto !important;
    right: 6%;
    top: 40%;
}
.img6{
     position: absolute;
    width: 12vw !important;
    height: auto !important;
    right: 6%;
    top: 67%;
}
.img7{
  position: absolute;
    width: 8vw !important;
    height: auto !important;
    right: 42%;
    top: 68%
}
.img8{
      position: absolute;
    width: 11vw !important;
    height: auto !important;
    right: 69%;
    top: 67%;
}
.img9{
     position: absolute;
    width: 12vw !important;
    height: auto !important;
    left: 5%;
    top: 40%;


}
/* Karina css end */