.chsdbsdsd {
  width: 100%;
  padding: 40px 0;
}

.mvicfnvfbc {
  width: 100%;
  height: 550px;
}
.mvicfnvfbc img {
  width: 100%;
  height: 100%;
}

.doieworwer img:nth-of-type(4n - 3){
    width: 12rem;
    left: 5%;
    top: 25%;
}

.doieworwer img:nth-of-type(4n - 2){
    width: 15rem;
    right: 30%;
    top: 7%;   
}

.doieworwer img:nth-of-type(4n - 1){
    width: 12rem;
    right: 12%;
    top: 18%;
}

.doieworwer img:nth-of-type(4n){
    width: 12rem;
    right: 5%;
    bottom: 5%;
}

.doijerer img{
    width: 6rem !important;
}

.doijerer img:nth-of-type(5n - 4){
    top: 12%;
    left: 17%;    
}

.doijerer img:nth-of-type(5n - 3){
    top: 12%;
    right: 20%;    
}

.doijerer img:nth-of-type(5n - 2){
    bottom: 12%;
    left: 22%;  
    width: 5rem !important;  
}

.doijerer img:nth-of-type(5n - 1){
    bottom: 12%;
    right: 24%;  
    width: 5rem !important;  
}

.doijerer img:nth-of-type(5n){
    top: 50%;
    left: 43%;
    width: 3rem !important;  
}

.dinweihrwerew img{
    width: 17rem !important;
}

.dinweihrwerew img:nth-of-type(5n - 4){
    top: 5%;
    left: 5%;
}

.dinweihrwerew img:nth-of-type(5n - 3){
    bottom: 10%;
    left: 5%;
}

.dinweihrwerew img:nth-of-type(5n - 2){
    width: 12rem !important;
    top: 15%;
    left: 27%;
}

.dinweihrwerew img:nth-of-type(5n - 1){
    top: 35%;
    right: 5%;
}

.dinweihrwerew img:nth-of-type(5n){
    width: 12rem !important;
    bottom: 5%;
    right: 35%;
}

.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
  padding-top: 40px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
}
.dgndfgdfgdf img {
  width: 100%;
  height: auto;
}
.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}













.fhdfjhsdf555 h2
{
    font-size: 40px;
    /* font-weight: 700; */
}

.bgjhdf5fa 
{
    color: #eb4406;
    font-weight: 700;
}

.bgjhdf5faa
{
    color: #01B2DB;
     font-weight: 700;
}

.dgnghbg5df
{
    margin-bottom: 20px;
}


.dfdsf52dsasas img
{
  width: 30px;
  height: 30px;
  margin-top: -420px;
  margin-left: 80px;
}


.dfdsf52dsasas1 img
{
  width: 70px;
  height: 90px;
  margin-top: -315px;
  margin-left: 40px;
}

.dfdsf52dsasas1 {
  display: inline-block;
  animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.serfd58748 img
{
   width: 35px;
   height: 30px;
}

.fgbf548444 h4 
{
    font-size: 17px;
    font-weight: 700;
    /* margin-left: -25px; */
    padding-top: 5px;
}

.tfytf5rf
{
    margin-top: -40%;
    margin-left:350px;
}

.yutytefgdfg
{
    margin-bottom: 15px;
}

.fgbf548444 h4 span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideChar 04s forwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes slideChar {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}


.dfdsf52dsasas img {
  animation: waveMotion 2s ease-in-out infinite;
  display: inline-block;
  transform-origin: center;
}

@keyframes waveMotion {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.dfdsf52dsasas img {
  animation: floatWave 2.5s ease-in-out infinite, waveMotion 2s ease-in-out infinite;
  display: inline-block;
  transform-origin: center;
}

.uiiieer2 {
  margin-top: -41%;
  margin-right: 3px;
}

.uiiieer {
  margin-right: 22px;
}

.uiiieer3 {
  margin-right: 0px;
}

/* Wrapper Styling */
.wrapper {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0%;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 21px;
  line-height: 33px;
}

.icon {
  height: 1rem;
}

/* Typewriter Container */
.typewriterStart,
.typewriterEnd {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: 2px solid white; /* Optional blinking effect */
}

/* Animations */
.typewriterStart {
  animation: typingStart 2s steps(40, end) forwards, blink 0.75s step-end infinite;
  direction: ltr;
}

.typewriterEnd {
  animation: typingEnd 2s steps(30, end) forwards, blink 0.75s step-end infinite;
  /* direction: rtl; */
}

@keyframes typingStart {
  from {
    width: 0;
  }
  to {
    width: 42%;
  }
}

@keyframes typingEnd {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Delay timings for sequential animation */
.delay0 {
  animation-delay: 0s, 0s;
}

.delay1 {
  animation-delay: 2.2s, 2.2s; /* delay after first line */
}

.delay2 {
  animation-delay: 4.4s, 4.4s; /* delay after second line */
}




/* percentage icon */


.circleCard67 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.circleWrapper67 {
  position: relative;
}

svg {
  position: relative;
  width: 315px;
  height: 216px;
  transform: rotate(-90deg);
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke: #e0e0e0;
}

.svgCircleIcon67 circle:last-of-type {
  stroke: #bd34b9; /* Blue */
  transition: stroke-dashoffset 0.5s ease;
}

.circleNumber67 {
  position: absolute;
  top: 111%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.circleNumber67 h3 {
  font-size: 18px;
  font-weight: 600;
}

.circleNumber67 h3 span {
  font-size: 18px;
}


.circleCard85 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.circleWrapper85 {
  position: relative;
}

svg {
  position: relative;
  width: 303px;
  height: 197px;
  transform: rotate(-90deg);
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke: #e0e0e0;
}

.svgCircleIcon85 circle:last-of-type {
  stroke: #5a5adb; /* Green */
  transition: stroke-dashoffset 0.5s ease;
}

.circleNumber85 {
  position: absolute;
  top: 110%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.circleNumber85 h3 {
  font-size: 18px;
  font-weight: 600;
}

.circleNumber85 h3 span {
  font-size: 18px;
}


.bnjhvdd54
{
  margin-top: -30%;
  margin-left: 70px;
}

.bnjhvdd54aaa{
  margin-left: 48%;
  margin-top: 60px;
}



/* percentage icon */

.doieworwer img:nth-of-type(4n - 3){
    width: 12rem;
    left: 5%;
    top: 25%;
}

.doieworwer img:nth-of-type(4n - 2){
    width: 15rem;
    right: 30%;
    top: 7%;   
}

.doieworwer img:nth-of-type(4n - 1){
    width: 12rem;
    right: 12%;
    top: 18%;
}

.doieworwer img:nth-of-type(4n){
    width: 12rem;
    right: 5%;
    bottom: 5%;
}


.irtuier54da img
{
  width: 120px;
  height: 100px;
  margin-top: -610px;
  margin-left: 175px;
}

.irtuier54daa img
{
  width: 260px;
  height: 120px;
  margin-top: -440px;
  margin-left: 30px;


}


.irtuier54daaa img
{
  width: 220px;
  height: 160px;
  margin-top: -290px;
  margin-left: 100px;


}


.irtuier54daaaa img
{
  width: 140px;
  height: 130px;
  margin-top: -310px;
  margin-left: 390px;


}


.irtuier54daaaaa img
{
  width: 180px;
  height: 100px;
  margin-top: -770px;
  margin-left: 355px;

}

.irtuier54daaaaaa img
{
  width: 210px;
  height: 90px;
  margin-top: -650px;
  margin-left: 395px;

  
}

/* prerana css start */

.blog .b1{
    position: absolute;
    width:11.3rem;
    bottom: 50%;
    left:1.6%;
}
.blog .b2{
  position: absolute;
  width:9rem;
  bottom: 45.5%;
  left:62%;
}
.blog .b3{
  position: absolute;
    width:9.5rem;
    bottom: 2%;
    right:60%;
    
}
.blog .b4{
  position: absolute;
  width:11.5rem;
  bottom: 4%;
  left:58%;
}

/* prerana css end */



/* Nisha css start */

.bmspic1{
  position: absolute;
  width: 19vw !important;
  left: 55%;
  top: 32%;
}

.bmspic2{
  position: absolute;
  width: 19vw !important;
  right: 16%;
  bottom: 4%;
}

.bmspic3{
    position: absolute;
    width: 6.5vw !important;
    left: 10%;
    bottom: 20%;
}

/* Nisha css end */



/* karina css start */
.dgndfgdfgdf {
  /* width: 100%; */
  position: relative;
}
/* .dgndfgdfgdf img {
  width: 100%;
  height: auto;
} */
.img1{
  position: absolute;
  width: 4rem !important;
  top: 5%;
  right: 5%;
}
.img2{
  position: absolute;
  width: 12rem !important;
  bottom: 1%;
  left: 4%;
}
.img3{
  position: absolute;
  width: 6rem !important;
  top: 5%;
  left: 3%;
}
/* karina css end */



/* Rohit css start */
.RRD1 .RRDimg1{
  position: absolute;
  width: 12rem;
  right: 22%;
  top: 8%;
}

.RRD2 .RRDimg2{
  position: absolute;
  width: 12rem;
  left: 20%;
  bottom: 3%;
}
.RRD3 .RRDimg3{
  position: absolute;
  width: 14rem;
  right: 20%;
  bottom: 3%;
}
/* Rohit css end */

@media only screen and (max-width:2551px){
  .img1{
    width: 4vw !important;
  }
  .img2{
    width: 13vw !important;
  }
  .img3{
    width: 6.5vw !important;
  }
  .blog .b1{
    width:12vw !important;
    bottom: 53.8% !important;
    left: 0.6% !important;
  }
  .blog .b2{
    width:9.7vw !important;
    bottom: 48% !important;
    left:63% !important;
  }
  .blog .b3{
    width: 10.5vw !important;
  }
  .blog .b4{
    width:12vw !important;
  }
  .RRD1 .RRDimg1{
    width: 13vw !important;
  }
  .RRD2 .RRDimg2{
    width: 13vw !important;
  }
  .RRD3 .RRDimg3{
    width: 15vw !important;
  }
}
@media only screen and (max-width:1921px){
  .blog .b1{
    bottom: 51.8% !important;
  }
  .blog .b2{
    bottom: 46% !important;
  }
}
@media only screen and (max-width:1601px){
  .blog .b1{
    bottom: 50.2% !important;
  }
}
@media only screen and (max-width:1367px){
  .blog .b1{
    bottom: 48.5% !important;
  }
}

@media only screen and (max-width:992px) {

  .img3 {
    width: 14vw !important;
  }

  .img2 {
    width: 23vw !important;
  }

  .img1 {
    width: 10vw !important;
  }

  .b1 {
    width: 23vw !important;
  }

  .b2 {
    width: 16vw !important;
  }

  .b3 {
    width: 17vw !important;
  }

  .b4 {
    width: 23vw !important;
  }

  .RRDimg1 {
    position: relative;
    top: 2vw !important;
    left: 65vw !important;
    width: 15vw !important;
  }

  .RRDimg2 {
    top: 33vw !important;
    left: 19vw !important;
    width: 15vw !important;
  }

  .RRDimg3 {
    top: 34vw !important;
    left: 63vw !important;
    width: 15vw !important;
  }
}

@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }
    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
      float: initial;
        padding: 9rem 20px 20px 20px !important;
        text-align: center;
    }

    .bmspic1 {
        width: 44vw !important;
        top: 25%;
    }

    .bmspic2{
      width: 44vw !important;
        bottom: 7%;
        right: 12%;
    }

    .bmspic3{
        width: 12vw !important;
        left: 6%;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}

@media only screen and (max-width:801px){
  .img1{
    width: 9vw !important;
    right: 18% !important;
  }
  .img2{
    width: 27vw !important;
    left: 17.8% !important;
  }
  .img3{
    width: 13.7vw !important;
    left: 16.5% !important;
  }
  .blog .b1{
    width:23vw !important;
    bottom: 50.4% !important;
    left: 16.5% !important;
  }
  .blog .b2{
    width:19vw !important;
    bottom: 46% !important;
    left:60% !important;
  }
  .blog .b3{
    width: 21.5vw !important;
    bottom: 4% !important;
    right: 58% !important;
  }
  .blog .b4{
    width:25.5vw !important;
    bottom: 5% !important;
    left: 55% !important;
  }
  .RRD1 .RRDimg1{
    top: 20% !important;
  }
  .RRD2 .RRDimg2{
    bottom: 18% !important;
  }
  .RRD3 .RRDimg3{
    bottom: 17% !important;
  }

   .sdfsdfsdf {
    margin-top: 16vw !important;
  }

  .doieworwer :nth-of-type(4n - 2) {
    top: -2vw !important;
    left: 46vw !important;
  }

  .doieworwer :nth-of-type(4n - 1) {
    position: absolute;
    top: 8vw !important;
    left: 75vw !important;

  }

  .doieworwer :nth-of-type(4n - 3) {
    position: absolute;
    top: 7vw !important;
    left: 4vw !important;
  }
  
}


@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}


@media only screen and (max-width:992px) {

  .doieworwer :nth-of-type(4n - 2) {
    position: absolute;
    top: -3vw !important;
    left: 50vw !important;
  }

  .doieworwer :nth-of-type(4n - 1) {
    position: absolute;
    top: 2vw !important;
    left: 75vw !important;

  }

  .doieworwer :nth-of-type(4n - 3) {
    position: absolute;
    top: 3vw !important;
    left: 4vw !important;
  }
}

@media only screen and (max-width:600px){
  .blog .b1{
    bottom: 49% !important;
  }
  .blog .b2{
    bottom: 43% !important;
  }
  .RRD1 .RRDimg1{
    top: 24% !important;
  }
  .RRD2 .RRDimg2{
    bottom: 22% !important;
  }
  .RRD3 .RRDimg3{
    bottom: 21% !important;
  }

   .doieworwer :nth-of-type(4n - 2) {
    top: 3vw !important;
    left: 46vw !important;
    width: 25vw !important;
    height: 45vw !important;
  }

  .doieworwer :nth-of-type(4n - 1) {
    position: absolute;
    top: 16vw !important;
    left: 74vw !important;
    width: 23vw !important;
    height: 21vw !important;

  }

  .doieworwer :nth-of-type(4n - 3) {
    position: absolute;
    top: 15vw !important;
    left: 4vw !important;
    width: 20vw !important;
    height: 27vw !important;
  }

  .doieworwer :nth-of-type(4n) {
    position: absolute;
    top: 34vw !important;
    left: 76vw !important;
    width: 19vw !important;
    height: 18vw !important;
  }

  .svgCircleIcon85 
  {
    display: none;
  }
  .circleNumber85
  {
    display: none;
  }

  .svgCircleIcon67 
  {
    display: none;

  }

  .circleNumber67
  {
        display: none;
  }

  .fjhfdfgdfg
  {
    margin-top: -8rem;
  }

}
@media only screen and (max-width:541px){
  .blog .b1{
    bottom: 47.8% !important;
  }
  .blog .b2{
    bottom: 41% !important;
  }
  .RRD1 .RRDimg1{
    top: 25% !important;
  }
  .RRD2 .RRDimg2{
    top: 39vw !important;
  }
  .RRD3 .RRDimg3{
    top: 39vw !important;
  }
}

@media only screen and (max-width:441px) {
  .dfdsf52dsasas {
    position: relative;
    top: 28vw !important;
    left: -28vw !important;
  }

  .dfdsf52dsasas1 {
    position: relative;
    top: 30vw !important;
    left: -30vw !important;
  }

  .doieworwer :nth-of-type(4n - 2) {
    position: relative;
    top: 10vw !important;
    left: 47vw !important;
  }

  .typewriterStart {
    font-size: 13px !important;
    margin-top: -2vw !important;
  }

  .typewriterEnd {
    position: relative;
    font-size: 13px !important;
    top: -1vw !important;
  }
}

@media only screen and (max-width:431px){
  .blog .b1{
    bottom: 45% !important;
  }
  .blog .b2{
    bottom: 39% !important;
  }
  .RRD1 .RRDimg1{
    top: 27% !important;
  }
  .RRD2 .RRDimg2{
    top: 54% !important;
  }
  .RRD3 .RRDimg3{
    top: 54% !important;
  }
}
@media only screen and (max-width:415px){
  .blog .b1{
    bottom: 44.5% !important;
  }
  .RRD1 .RRDimg1{
    top: 28% !important;
  }
  .RRD2 .RRDimg2{
    top: 54% !important;
  }
  .RRD3 .RRDimg3{
    top: 54% !important;
  }

    .dfdsf52dsasas {
    position: relative;
    top: 28vw !important;
    left: -28vw !important;
  }

  .dfdsf52dsasas1 {
    position: relative;
    top: 30vw !important;
    left: -30vw !important;
  }

  .doieworwer :nth-of-type(4n - 2) {
    position: relative;
    top: 10vw !important;
    left: 47vw !important;
  }

  .typewriterStart {
    font-size: 13px !important;
    margin-top: -2vw !important;
  }

  .typewriterEnd {
    position: relative;
    font-size: 13px !important;
    top: -1vw !important;
  }
}
@media only screen and (max-width:394px){
  .blog .b1{
    bottom: 68.5% !important;
  }
  .blog .b2{
    bottom: 38% !important;
  }
  .RRD2 .RRDimg2{
    top: 54% !important;
  }
  .RRD3 .RRDimg3{
    top: 54% !important;
  }
    .btn125 {
    padding: 14px 12px;
  }

  .btn126 {
    padding: 14px 12px;
  }

  .fhgdfg h2 {
    font-size: 35px;
  }

  .typewriterStart {
    position: relative;
    left: -3vw !important;
  }

  .icon {
    position: relative;
    left: -2vw !important;
  }

  .typewriterEnd {
    position: relative;
    font-size: 13px !important;
    top: -1vw !important;
    left: -2vw !important;
  }
}
@media only screen and (max-width:376px){
  .blog .b1{
    bottom: 43% !important;
  }
  .RRD1 .RRDimg1{
    top: 28.5% !important;
  }
  .RRD2 .RRDimg2{
    top: 54% !important;
  }
  .RRD3 .RRDimg3{
    top: 54% !important;
  }
   .typewriterEnd {
    position: relative;
    font-size: 12px !important;
    top: -1vw !important;
    left: -2vw !important;
  }

  .typewriterStart {
    position: relative;
    font-size: 12px !important;
    top: 0vw !important;
    left: -2vw !important;
  }
}
@media only screen and (max-width:361px){
  .blog .b1{
    bottom: 42.5% !important;
  }
  .blog .b2{
    bottom: 37% !important;
  }
  .RRD1 .RRDimg1{
    top: 29.5% !important;
  }
  .RRD2 .RRDimg2{
    top: 54% !important;
  }
  .RRD3 .RRDimg3{
    top: 54% !important;
  }
  .typewriterEnd {
    position: relative;
    font-size: 11px !important;
    top: 0vw !important;
    left: -2vw !important;
  }

  .typewriterStart {
    position: relative;
    font-size: 11px !important;
    top: 1vw !important;
    left: -3vw !important;
  }
}
@media only screen and (max-width:321px){
  .blog .b1{
    bottom: 40.6% !important;
  }
  .blog .b2{
    bottom: 36% !important;
  }
  .RRD1 .RRDimg1{
    top: 30.5% !important;
  }
  .RRD2 .RRDimg2{
    bottom: 29.5% !important;
  }
  .RRD3 .RRDimg3{
    bottom: 28.5% !important;
  }

  .typewriterEnd {
    position: relative;
    font-size: 10px !important;
    top: 0vw !important;
    left: -2vw !important;
  }

  .typewriterStart {
    position: relative;
    font-size: 10px !important;
    top: 1vw !important;
    left: -3vw !important;
  }

  .dfdsf52dsasas {
    position: relative;
    top: 42vw !important;
    left: -31vw !important;
  }

  .dfdsf52dsasas1 {
    position: relative;
    top: 42vw !important;
    left: -31vw !important;
  }

  .doieworwer :nth-of-type(4n - 2) {
    position: relative;
    top: 16vw !important;
    left: 47vw !important;
  } 
}
@media only screen and (max-width:281px){
  .blog .b1{
    bottom: 38.9% !important;
  }
  .blog .b2{
    bottom: 34% !important;
  }
  .RRD1 .RRDimg1{
    top: 31.5% !important;
  }
  .RRD2 .RRDimg2{
    bottom: 30.5% !important;
  }
  .RRD3 .RRDimg3{
    bottom: 30.3% !important;
  }
  .typewriterStart {
    position: relative;
    font-size: 9px !important;
    top: 20vw !important;
    left: -3vw !important;
  }

  .typewriterEnd {
    position: relative;
    font-size: 9px !important;
    top: 19vw !important;
    left: -2vw !important;
  }

  .dfdsf52dsasas1 img {
    width: 48px;
    height: 57px;
  }

  .dfdsf52dsasas img  {
    position: relative;
    top: 26vw !important;
    left: -2vw !important;
  }

  .doieworwer :nth-of-type(4n - 2) {
    position: relative;
    top: 39vw !important;
    left: 47vw !important;
  }

  .doieworwer :nth-of-type(4n) {
    position: relative;
    top: 58vw !important;
    left: 76vw !important;
  }

  .doieworwer :nth-of-type(4n - 1) {
    position: relative;
    top: 39vw !important;
    left: 76vw !important;
  }

  .doieworwer :nth-of-type(4n - 3) {
    position: relative;
    top: 51vw !important;
    left: 5vw !important;
  }
  .dgnghbg5df h2{
    height: 0vw !important;
  }
}


/* mobile phn develoipment service */


@media only screen and (max-width:2551px) {
  .irtuier54daaaa img {
    width: 10vw !important;
    height: 9vw !important;
    margin-top: -19vw !important;
    margin-left: 29vw !important;
  }

  .irtuier54daaaaa img {
    width: 16vw !important;
    height: 7vw !important;
    margin-top: -50vw !important;
    margin-left: 26vw !important;
  }

  .irtuier54daa img {
    width: 260px;
    height: 120px;
    margin-top: -440px;
    margin-left: 30px;
  }

  .irtuier54daaaaaa img {
    width: 18vw !important;
    height: 5vw !important;
    margin-top: -41.5vw !important;
    margin-left: 28vw !important;
  }

  .irtuier54daaa img {
    width: 19vw;
    height: 9vw;
    margin-top: -17vw;
    margin-left: 7vw;
  }

  .irtuier54da img {
    width: 10vw;
    height: 7vw;
    margin-top: -45vw;
    margin-left: 290px;
  }

  .irtuier54daa img {
    width: 19vw;
    height: 10vw;
    margin-top: -752px;
    margin-left: 40px;
  }

  .doijerer img:nth-of-type(5n - 1) {
    bottom: 3vw;
    right: 8.3vw;
    width: 5vw !important;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 7vw;
    right: 9.4vw;
  }

  .doijerer img:nth-of-type(5n - 4) {
    top: 7vw;
    left: 8.4vw;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 3vw;
    left: 7.6vw;
    width: 5vw !important;
  }
  .doijerer img:nth-of-type(5n) {
    top: 48%;
    left: 43%;
    width: 6rem !important;
}
  .dinweihrwerew img:nth-of-type(5n - 2) {
    width: 11vw !important;
    top: 6vw;
    left: 27vw;
  }

  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 10vw;
    right: 4vw;
    width: 19vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n) {
    width: 11vw !important;
    bottom: 3vw;
    right: 34vw;
  }

  .dinweihrwerew img:nth-of-type(5n - 4) {
    top: 2vw;
    left: 6vw;
    width: 15vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 6vw;
    left: 6vw;
    width: 20vw !important;
  }
}

@media only screen and (max-width:1921px) {
  .irtuier54daaaa img {
    width: 10vw !important;
    height: 10vw !important;
    margin-top: -20vw !important;
    margin-left: 29vw !important;
  }

  .irtuier54daaaaa img {
    width: 16vw !important;
    height: 7vw !important;
    margin-top: -52vw !important;
    margin-left: 26vw !important;
  }

  .irtuier54daa img {
    width: 260px;
    height: 120px;
    margin-top: -440px;
    margin-left: 30px;
  }

  .irtuier54daaaaaa img {
    width: 18vw !important;
    height: 5vw !important;
    margin-top: -44vw !important;
    margin-left: 28vw !important;
  }

  .irtuier54daaa img {
    width: 19vw;
    height: 9vw;
    margin-top: -17vw;
    margin-left: 7vw;
  }

  .irtuier54da img {
    width: 176px;
    height: 125px;
    margin-top: -872px;
    margin-left: 238px;
  }

  .irtuier54daa img {
    width: 19vw;
    height: 10vw;
    margin-top: -593px;
    margin-left: 31px;
  }

  .doijerer img:nth-of-type(5n - 1) {
    bottom: 3vw;
    right: 8vw;
    width: 5vw !important;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 6vw;
    right: 8vw;
  }

  .doijerer img:nth-of-type(5n - 4) {
    top: 6vw;
    left: 7vw;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 3vw;
    left: 7.3vw;
    width: 5vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 10vw;
    right: 4vw;
    width: 19vw !important;
  }
  .doijerer img:nth-of-type(5n) {
        top: 48%;
        left: 42%;
        width: 5rem !important;
    }
  .dinweihrwerew img:nth-of-type(5n - 4) {
    top: 2vw;
    left: 6vw;
    width: 15vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 6vw;
    left: 6vw;
    width: 20vw !important;
  }
}

@media only screen and (max-width:1601px) {
  .irtuier54daaaa img {
    width: 11vw !important;
    height: 9vw !important;
    margin-top: -22vw !important;
    margin-left: 29vw !important;
  }

  .irtuier54daaaaa img {
    width: 16vw !important;
    height: 7vw !important;
    margin-top: -54vw !important;
    margin-left: 26vw !important;
  }

  .irtuier54daa img {
    width: 260px;
    height: 120px;
    margin-top: -440px;
    margin-left: 30px;
  }

  .irtuier54daaaaaa img {
    width: 18vw !important;
    height: 5vw !important;
    margin-top: -46.5vw !important;
    margin-left: 28vw !important;
  }

  .irtuier54daaa img {
    width: 19vw;
    height: 9vw;
    margin-top: -17vw;
    margin-left: 7vw;
  }

  .irtuier54da img {
    width: 12vw;
    height: 7vw;
    margin-top: -740px;
    margin-left: 148px;
  }

  .irtuier54daa img {
    width: 19vw;
    height: 10vw;
    margin-top: -500px;
    margin-left: 31px;
  }

  .doijerer img:nth-of-type(5n - 1) {
    bottom: 3vw;
    right: 7.8vw;
    width: 5vw !important;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 6vw;
    right: 6.9vw;
  }

  .doijerer img:nth-of-type(5n - 4) {
    top: 6vw;
    left: 5.8vw;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 3vw;
    left: 7.1vw;
    width: 5vw !important;
  }
  .doijerer img:nth-of-type(5n) {
        top: 49%;
        left: 43%;
        width: 4rem !important;
    }
}

@media only screen and (max-width:1367px) {
  .irtuier54daaaa img {
    width: 11vw !important;
    height: 9vw !important;
    margin-top: -24vw !important;
    margin-left: 29vw !important;
  }

  .irtuier54daaaaa img {
    width: 16vw !important;
    height: 7vw !important;
    margin-top: -56vw !important;
    margin-left: 26vw !important;
  }

  .irtuier54daa img {
    width: 260px;
    height: 120px;
    margin-top: -440px;
    margin-left: 30px;
  }

  .irtuier54daaaaaa img {
    width: 18vw !important;
    height: 5vw !important;
    margin-top: -48.5vw !important;
    margin-left: 28vw !important;
  }

  .irtuier54daaa img {
    width: 19vw;
    height: 9vw;
    margin-top: -20vw;
    margin-left: 7vw;
  }

  .irtuier54da img {
    width: 12vw;
    height: 7vw;
    margin-top: -627px;
    margin-left: 133px;
  }

  .irtuier54daa img {
    width: 19vw;
    height: 10vw;
    margin-top: -427px;
    margin-left: 31px;
  }

  .doijerer img:nth-of-type(5n - 1) {
    bottom: 2.8vw;
    right: 7.6vw;
    width: 5vw !important;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 6.5vw;
    right: 6.7vw;
    width: 6vw !important;
  }

  .doijerer img:nth-of-type(5n - 4) {
    top: 6.3vw;
    left: 5.7vw;
    width: 6vw !important;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 3vw;
    left: 6.9vw;
    width: 5vw !important;
  }
  .doijerer img:nth-of-type(5n) {
        top: 51%;
        left: 43%;
        width: 3rem !important;
    }
  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 5vw;
    left: 5vw;
    width: 22vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 4) {
    top: 1vw;
    left: 6vw;
    width: 17vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 2) {
    top: 5vw;
    left: 28vw;
    width: 13vw !important;
  }
}

@media only screen and (max-width: 991px){
  .irtuier54da img {
      width: 19vw;
      height: auto;
      margin-top: -51rem;
      margin-left: 16rem;
    }

    .dgndfgdfgdf img{
      width: 100%;
    }

    .irtuier54daaaaa img {
      width: 19vw !important;
      height: auto !important;
      margin-top: -104vw !important;
      margin-left: 53vw !important;
    }

    .irtuier54daa img {
      width: 19vw;
      height: auto;
      margin-top: -39rem;
      margin-left: 12rem;
    }

    .irtuier54daaaaaa img {
      width: 19vw !important;
      height: auto !important;
      margin-top: -46rem !important;
      margin-left: 30rem !important;
    }

    .irtuier54daaa img {
      width: 19vw;
      height: auto;
      margin-top: -44vw;
      margin-left: 32vw;
    }

    .irtuier54daaaa img {
      width: 19vw;
      height: auto;
      margin-top: -52vw !important;
      margin-left: 58vw !important;
    }
}

@media only screen and (max-width:801px) {
  .irtuier54daaaa img {
    width: 15vw !important;
    height: 10vw !important;
    margin-top: -52vw !important;
    margin-left: 58vw !important;
  }

  .irtuier54daaaaa img {
    width: 20vw !important;
    height: 9vw !important;
    margin-top: -103vw !important;
    margin-left: 53.2vw !important;
  }

  .irtuier54daa img {
    width: 260px;
    height: 120px;
    margin-top: -440px;
    margin-left: 30px;
  }

  .irtuier54daaaaaa img {
    width: 22vw !important;
    height: 7vw !important;
    margin-top: -93.8vw !important;
    margin-left: 56.3vw !important;
  }

  .irtuier54daaa img {
    width: 22vw;
    height: 11vw;
    margin-top: -40vw;
    margin-left: 30vw;
  }

  .irtuier54da img {
    width: 16vw;
    height: 10vw;
    margin-top: -708px;
    margin-left: 217px;
  }

  .irtuier54daa img {
    width: 22vw;
    height: 12vw;
    margin-top: -517px;
    margin-left: 144px;
  }

  .doijerer img:nth-of-type(5n - 1) {
    bottom: 7.8vw;
    right: 31.4vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 15.5vw;
    right: 31.4vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 4) {
    top: 15vw;
    left: 29.3vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 8vw;
    left: 30.3vw;
    width: 8.6vw !important;
  }
  .doijerer img:nth-of-type(5n) {
        top: 46%;
        left: 45%;
        width: 4rem !important;
    }
  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 15vw;
    left: 5vw;
    width: 22vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 4) {
    top: 3vw;
    left: 7vw;
    width: 18vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 2) {
    top: 9vw;
    left: 28vw;
    width: 13vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 21vw;
    right: 4vw;
    width: 19vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n) {
    width: 11vw !important;
    bottom: 13vw;
    right: 34vw;
  }
}

@media only screen and (max-width:601px) {
  .irtuier54daaaa img {
    width: 15vw !important;
    height: 10vw !important;
    margin-top: -58vw !important;
    margin-left: 58vw !important;
  }

  .irtuier54daaaaa img {
    width: 20vw !important;
    height: 9vw !important;
    margin-top: -110vw !important;
    margin-left: 53.2vw !important;
  }

  .irtuier54daa img {
    width: 22vw;
    height: 12vw;
    margin-top: -414px;
    margin-left: 100px;
  }

  .irtuier54daaaaaa img {
    width: 22vw !important;
    height: 7vw !important;
    margin-top: -101.8vw !important;
    margin-left: 56.3vw !important;
  }

  .irtuier54daaa img {
    width: 22vw;
    height: 11vw;
    margin-top: -45vw;
    margin-left: 30vw;
  }

  .irtuier54da img {
    width: 16vw;
    height: 10vw;
    margin-top: -90vw;
    margin-left: 27vw;
  }

  .irtuier54daa img {
    width: 24vw;
    height: 14vw;
    margin-top: -66vw;
    margin-left: 16vw;
  }

  .doijerer img:nth-of-type(5n - 1) {
    bottom: 7.8vw;
    right: 33.4vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 17.5vw;
    right: 33.4vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 4) {
    top: 18vw;
    left: 31.3vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 8vw;
    left: 32.3vw;
    width: 8.6vw !important;
  }
      .doijerer img:nth-of-type(5n) {
        top: 47%;
        left: 45%;
        width: 3rem !important;
    }
  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 18vw;
    left: 5vw;
    width: 22vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 4) {
    top: 6vw;
    left: 7vw;
    width: 18vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 2) {
    top: 14vw;
    left: 28vw;
    width: 13vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 26vw;
    right: 4vw;
    width: 19vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n) {
    width: 11vw !important;
    bottom: 16vw;
    right: 34vw;
  }
}
@media only screen and (max-width:541px) {
  .irtuier54daaaa img {
    width: 18vw !important;
    height: 12vw !important;
    margin-top: -59vw !important;
    margin-left: 58vw !important;
  }

  .irtuier54daaaaa img {
    width: 22vw !important;
    height: 10vw !important;
    margin-top: -114vw !important;
    margin-left: 53.2vw !important;
  }

  .irtuier54daa img {
    width: 22vw;
    height: 12vw;
    margin-top: -414px;
    margin-left: 100px;
  }

  .irtuier54daaaaaa img {
    width: 22vw !important;
    height: 7vw !important;
    margin-top: -105.8vw !important;
    margin-left: 56.3vw !important;
  }

  .irtuier54daaa img {
    width: 24vw;
    height: 13vw;
    margin-top: -46vw;
    margin-left: 27vw;
  }

  .irtuier54da img {
    width: 16vw;
    height: 10vw;
    margin-top: -90vw;
    margin-left: 27vw;
  }

  .irtuier54daa img {
    width: 24vw;
    height: 14vw;
    margin-top: -66vw;
    margin-left: 16vw;
  }

  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 20vw;
    left: 5vw;
    width: 22vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 4) {
    top: 9vw;
    left: 7vw;
    width: 18vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 2) {
    top: 16vw;
    left: 28vw;
    width: 13vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 26vw;
    right: 4vw;
    width: 19vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n) {
    width: 11vw !important;
    bottom: 17vw;
    right: 34vw;
  }
}

@media only screen and (max-width:431px) {
  .irtuier54daaaa img {
    width: 18vw !important;
    height: 12vw !important;
    margin-top: -65vw !important;
    margin-left: 58vw !important;
  }

  .irtuier54daaaaa img {
    width: 22vw !important;
    height: 10vw !important;
    margin-top: -122vw !important;
    margin-left: 53.2vw !important;
  }

  .irtuier54daa img {
    width: 22vw;
    height: 12vw;
    margin-top: -414px;
    margin-left: 100px;
  }

  .irtuier54daaaaaa img {
    width: 22vw !important;
    height: 7vw !important;
    margin-top: -114.8vw !important;
    margin-left: 56.3vw !important;
  }

  .irtuier54daaa img {
    width: 24vw;
    height: 13vw;
    margin-top: -51vw;
    margin-left: 27vw;
  }

  .irtuier54da img {
    width: 16vw;
    height: 10vw;
    margin-top: -90vw;
    margin-left: 27vw;
  }

  .irtuier54daa img {
    width: 26vw;
    height: 16vw;
    margin-top: -68vw;
    margin-left: 15vw;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 21.5vw;
    right: 32.6vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 4) {
    top: 21.4vw;
    left: 30.3vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 1) {
    bottom: 7.8vw;
    right: 32.4vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 8vw;
    left: 31.6vw;
    width: 8.6vw !important;
  }
  .doijerer img:nth-of-type(5n) {
        top: 49%;
        left: 45%;
        width: 2rem !important;
    }
  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 24vw;
    left: 5vw;
    width: 22vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 4) {
    top: 12vw;
    left: 7vw;
    width: 18vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 2) {
    top: 16vw;
    left: 28vw;
    width: 13vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 30vw;
    right: 6vw;
    width: 19vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n) {
    width: 11vw !important;
    bottom: 22vw;
    right: 34vw;
  }
}

@media only screen and (max-width:394px) {
  .irtuier54daaaa img {
    width: 18vw !important;
    height: 12vw !important;
    margin-top: -68vw !important;
    margin-left: 58vw !important;
  }

  .irtuier54daaaaa img {
    width: 22vw !important;
    height: 10vw !important;
    margin-top: -126vw !important;
    margin-left: 53.2vw !important;
  }

  .irtuier54daa img {
    width: 22vw;
    height: 12vw;
    margin-top: -414px;
    margin-left: 100px;
  }

  .irtuier54daaaaaa img {
    width: 22vw !important;
    height: 7vw !important;
    margin-top: -118.8vw !important;
    margin-left: 56.3vw !important;
  }

  .irtuier54daaa img {
    width: 24vw;
    height: 13vw;
    margin-top: -51vw;
    margin-left: 27vw;
  }

  .irtuier54da img {
    width: 16vw;
    height: 10vw;
    margin-top: -90vw;
    margin-left: 27vw;
  }

  .irtuier54daa img {
    width: 26vw;
    height: 16vw;
    margin-top: -68vw;
    margin-left: 15vw;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 21.5vw;
    right: 32.6vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 4) {
    top: 21.4vw;
    left: 30.3vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 1) {
    bottom: 7.8vw;
    right: 32.4vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 8vw;
    left: 31.6vw;
    width: 8.6vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 24vw;
    left: 5vw;
    width: 22vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 4) {
    top: 12vw;
    left: 7vw;
    width: 18vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 2) {
    top: 16vw;
    left: 28vw;
    width: 13vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 30vw;
    right: 6vw;
    width: 19vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n) {
    width: 11vw !important;
    bottom: 22vw;
    right: 34vw;
  }
}

@media only screen and (max-width:376px) {
  .irtuier54daaaaaa img {
    width: 22vw !important;
    height: 7vw !important;
    margin-top: -121.8vw !important;
    margin-left: 56.3vw !important;
  }

  .irtuier54daaa img {
    width: 24vw;
    height: 13vw;
    margin-top: -54vw;
    margin-left: 28vw;
  }

  .irtuier54daaaa img {
    width: 18vw !important;
    height: 12vw !important;
    margin-top: -69.6vw !important;
    margin-left: 58vw !important;
  }
  .irtuier54daaaaa img {
        width: 22vw !important;
        height: 10vw !important;
        margin-top: -127vw !important;
        margin-left: 53.2vw !important;
    }
  .doijerer img:nth-of-type(5n - 4) {
    top: 23vw;
    left: 30.3vw;
    width: 9vw !important;
  }

  .doijerer img:nth-of-type(5n - 3) {
    top: 23.2vw;
    right: 32.6vw;
    width: 9vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n) {
    width: 11vw !important;
    bottom: 25vw;
    right: 34vw;
  }
  .dinweihrwerew img:nth-of-type(5n - 1) {
        top: 33vw;
        right: 6vw;
        width: 19vw !important;
    }
    .dinweihrwerew img:nth-of-type(5n - 3) {
        bottom: 27vw;
        left: 5vw;
        width: 22vw !important;
    }
}

@media only screen and (max-width:361px) {
  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 33vw;
    right: 6vw;
    width: 19vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 26vw;
    left: 5vw;
    width: 22vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 2) {
    top: 19vw;
    left: 28vw;
    width: 13vw !important;
  }

  .irtuier54daaaaa img {
    width: 22vw !important;
    height: 10vw !important;
    margin-top: -128vw !important;
    margin-left: 54.2vw !important;
  }

  .doijerer img:nth-of-type(5n - 2) {
    bottom: 8vw;
    left: 31.2vw;
    width: 8.6vw !important;
  }

  .doijerer img:nth-of-type(5n) {
    top: 32vw;
    left: 40vw;
    width: 9vw !important;
  }
}

@media only screen and (max-width:321px) {
  .dinweihrwerew img:nth-of-type(5n - 1) {
    top: 33vw;
    right: 6vw;
    width: 19vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 31vw;
        left: 5vw;
        width: 22vw !important;
  }

  .dinweihrwerew img:nth-of-type(5n - 2) {
    top: 19vw;
    left: 28vw;
    width: 13vw !important;
  }
 .dinweihrwerew img:nth-of-type(5n) {
        width: 11vw !important;
        bottom: 28vw;
        right: 34vw;
    }
    .dinweihrwerew img:nth-of-type(5n - 2) {
        top: 24vw;
        left: 28vw;
        width: 13vw !important;
    }
  .irtuier54daaaaa img {
    width: 22vw !important;
    height: 10vw !important;
    margin-top: -137vw !important;
    margin-left: 52.2vw !important;
  }
  .irtuier54daaaaaa img {
        width: 22vw !important;
        height: 7vw !important;
        margin-top: -131.8vw !important;
        margin-left: 56.3vw !important;
    }
    .irtuier54daaaa img {
        width: 18vw !important;
        height: 12vw !important;
        margin-top: -75.6vw !important;
        margin-left: 58vw !important;
    }
    .irtuier54daaa img {
        width: 24vw;
        height: 13vw;
        margin-top: -59vw;
        margin-left: 28vw;
    }
    .irtuier54da img {
        width: 16vw;
        height: 10vw;
        margin-top: -93vw;
        margin-left: 27vw;
    }
    .doijerer img:nth-of-type(5n - 3) {
        top: 24.2vw;
        right: 32vw;
        width: 9vw !important;
    }
    .doijerer img:nth-of-type(5n - 4) {
        top: 24vw;
        left: 30.3vw;
        width: 9vw !important;
    }
  .doijerer img:nth-of-type(5n - 2) {
    bottom: 8vw;
    left: 31.2vw;
    width: 8.6vw !important;
  }

  .doijerer img:nth-of-type(5n) {
        top: 33vw;
        left: 39vw;
        width: 9vw !important;
    }
        .doijerer img:nth-of-type(5n - 1) {
        bottom: 7.8vw;
        right: 32vw;
        width: 9vw !important;
    }
    
}
@media only screen and (max-width:281px) {
  .dinweihrwerew img:nth-of-type(5n - 3) {
    bottom: 34vw;
        left: 5vw;
        width: 22vw !important;
  }
  .dinweihrwerew img:nth-of-type(5n) {
        width: 11vw !important;
        bottom: 32vw;
        right: 34vw;
    }
    .dinweihrwerew img:nth-of-type(5n - 2) {
        top: 24vw;
        left: 28vw;
        width: 13vw !important;
    }
    .dinweihrwerew img:nth-of-type(5n - 1) {
        top: 42vw;
        right: 6vw;
        width: 19vw !important;
    } 
  .irtuier54daaaaa img {
    width: 22vw !important;
        height: 10vw !important;
        margin-top: -143vw !important;
    margin-left: 53.2vw !important;
  }
  .irtuier54daaaaaa img {
       width: 22vw !important;
        height: 7vw !important;
        margin-top: -139.8vw !important;
        margin-left: 56.3vw !important;
    }
    .irtuier54daaaa img {
       width: 18vw !important;
        height: 12vw !important;
        margin-top: -81.6vw !important;
        margin-left: 58vw !important;
    }
    .irtuier54daa img {
        width: 26vw;
        height: 16vw;
        margin-top: -72vw;
        margin-left: 15vw;
    }
    .irtuier54daaa img {
       width: 24vw;
        height: 13vw;
        margin-top: -63vw;
        margin-left: 28vw;
    }
    .irtuier54da img {
        width: 16vw;
        height: 10vw;
        margin-top: -93vw;
        margin-left: 27vw;
    }
    .doijerer img:nth-of-type(5n - 3) {
        top: 26.2vw;
        right: 32vw;
        width: 9vw !important;
    }
    .doijerer img:nth-of-type(5n - 4) {
        top: 26vw;
        left: 29.3vw;
        width: 9vw !important;
    }
  .doijerer img:nth-of-type(5n - 2) {
    bottom: 8vw;
    left: 30.2vw;
    width: 8.6vw !important;
  }

  .doijerer img:nth-of-type(5n) {
        top: 35vw;
        left: 39vw;
        width: 9vw !important;
    }
        .doijerer img:nth-of-type(5n - 1) {
        bottom: 7.8vw;
        right: 31.7vw;
        width: 9vw !important;
    }
    
}


