.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 60px;
}
.sdfghdfgdf h1 {
  color: #032D60;
  font-weight: bold;
}
.sdfghdfgdf p {
  color: #181818;
  font-size: 17px;
  font-weight: 500;
}

.btn125 {
  padding: 14px 40px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #0176D3;
  border-radius: 4px;
}

.btn126 {
  padding: 14px 40px;
  background-color: transparent;
  color: #0176D3;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #0176D3;
  border-radius: 4px;
  margin-left: 10px;
}

.custom-container {
  width: 70%;
  margin: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhfgd {
  display: flex;
  width: 100%;
  height: 76vh;
  align-items: center; 
  padding: 1rem 0 3rem 0;
}

.dfgjhfgd
{
  width: 100%;
  height: 76vh;
  background-size: 100% 100%;
}

p a{
    font-weight: 600;
}

.sdfsdfsdf h2 {
  color: #032D60;
}

.dfhbfgd {
  width: 100%;
}
.dfhbfgd img {
  width: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.mgjhbdfg p {
  padding-bottom: 10px;
  color: #181818;
}

.mgjhbdfg a {
  color: #0176D3;
  font-weight: 500;
}

.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
}
.dgndfgdfgdf img {
  width: 100%;
  height: auto;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.gjhfgfgdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjkghdgsd {
  width: 100%;
  background-color: #143664;
  height: 450px;
  padding: 25px;
  border-radius: 4px;
}

.jhgdf {
  width: 100%;
  height: 2px;
  background-color: #40444E;
}

.gdfjkghdgsd h5 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.gdfjkghdgsd p {
  color: white;
  font-size: 16px !important;
  width: 100%;
}

.gdfhgdfg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C35F16;
  text-align: center;
  line-height: 55px;
}

.gdfhgdfg i {
  text-align: center;
  color: white;
}

.ggdfgdfg {
  margin-left: -20px !important;
}

.ggdfgdfg h6 {
  color: white;
  font-size: 18px !important;
  font-weight: 600;
}

.ggdfgdfg p {
  color: #fff;
  font-size: 14px !important;
  width: 100%;
}

.drfghdfgfr {
  margin-top: 15px;
}

.dfjbfg .form-control {
  padding: 10px;
}

.dfjbfg {
  margin-bottom: 25px;
}

.dfjbfg button {
  padding: 14px 45px;
  background-color: #2D4A8A;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

.njhfbg5654 {
  width: 65px;
  height: 65px;
  text-align: center;
  margin: auto;
  background-color: #d6f7f7;
  border-radius: 8px;
  margin-top: 40px;
}
.njhfbg5654 img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.gdfhbgdfgdfg h4 {
  color: #032D60;
  font-weight: 600;
  height: 75px;
  font-size: 24px;
}
.gdfhbgdfgdfg button {
  font-weight: 600;
  color: #032D60;
  text-decoration: underline;
  margin-top: 50px;
  border: none;
}

.container-grid {
  width: 80%;
  margin: auto;
}

.sdmsdjhsds{
    margin-top: -7rem;
    position: relative;
    z-index: -9;
}

.sdmsdjhsds img {
  width: 100%;
  height: auto;
}

.dienwm_iuemrer h2 {
    color: var(--main-blue-color);
    position: relative;
    margin-bottom: 3rem !important;
}

.dienwm_iuemrer h2:before {
    position: absolute;
    content: "";
    width: 5rem;
    height: 0.4rem;
    border-radius: 5px;
    background: linear-gradient(to right, #FE621F, #8C4AC8);
    top: -0.7rem;
    left: 0;
}

.dienwm_iuemrer h2:after {
    position: absolute;
    content: "";
    width: 5rem;
    height: 0.4rem;
    border-radius: 5px;
    background: linear-gradient(to right, #FE621F, #8C4AC8);
    bottom: -0.7rem;
    left: 0;
}

.ndjiwenkndfuiwehrwer{
    margin-bottom: 12rem;
}


@media only screen and (max-width:2551px)
{
   .spp01 {
    position: absolute;
    width: 493px !important;
    top: 437px !important;
    left: 620px !important;
    animation:mymovebr 2s;
  }

  .spp02 {
    position: absolute;
     width: 507px !important;
    top: 41px !important;
    left: 632px !important;
    animation: mymovetl 2s;
  }

  :root{
    --llspic1-width: 6.5vw;
    --llspic1-top: 3%;
    --llspic1-right: -12%;
    --llspic3-width: 11vw;
    --llspic3-left: -7%;
    --llspic3-bottom: 5.5%;
  }

  .spp03 {
    position: absolute;
    width: 290px !important;
    top: 270px !important;
    left: 436px !important;
    animation: mymoveM 2s;
    animation-delay: 1s;
  }

  .spp04 {
    position: absolute;
    width: 400px !important;
    top: 177px !important;
    left: 0px !important;
    animation: mymovebl 2s;
  }

   .llspic2{
  position: absolute;
  width: 15.2rem !important;
  top: 35% !important;
  right: 29% !important;
  animation: pulse 2s infinite ease-in-out; 
  transform-origin: bottom center; 
   }


  .listing .l1{
  position:absolute;
  width:13rem !important;
  left: 2% !important;
  bottom:12% !important;
  animation:m 2s infinite linear;   
  }

  .listing .l2{
  position: absolute;
  width:13rem !important;
  bottom: 64% !important;
  right:6% !important;
   
  }

  
  .ss01 {
    position: absolute;
    width: 210px !important;
    top: 119px !important;
    left: 343px !important;
  }


  .ss02 {
    position: absolute;
    width: 210px !important;
    top: 390px !important;
    left: 74px !important;

  }

  .ss03 {
    position: absolute;
    width: 210px !important;
    top: 395px !important;
    left: 343px !important;
  }

  .ss04 {
    position: absolute;
    width: 210px !important;
    top: 113px !important;
    left: 69px !important;
  }


  
  .llspic1{
  position: absolute;
  width: 10.5rem !important;
  top: -8% !important;
  right: -13% !important;
 }



  .llspic3{
    position: absolute;
    width: 18rem !important;
    left: -15% !important;
    bottom: 5.5% !important; 
  }

   .dfgjhfgd {
  display: flex;
  width: 100%;
  height: 109vh !important;
  align-items: center; 
  padding: 1rem 0 3rem 0;
   }
    .spp03{
   width: 11vw !important;
    top: 238px !important;
    left: 493px !important;
  }
  .llspic2{
    position: absolute;
    width: 9vw !important;
    top: 35% !important;
    right: 30% !important;

}

:root{
    --llspic1-width: 7.5vw;
    --llspic1-top: 3%;
    --llspic1-right: -24%;
    --llspic3-width: 11vw;
    --llspic3-left: 1%;
    --llspic3-bottom: 5.5%;
  }
.RIMG3 .RIMGG3 {
    width: 7vw !important;
    left: 228px !important;
    top: 10px !important;
}
.RIMG1 .RIMGG1{
    width: 7vw !important;
    left: 4px !important;
    bottom: 107px !important;
}
.RIMG2 .RIMGG2{
    width: 6vw !important;
    right: 11px !important;
    bottom: 104px !important;
}




}

@media only screen and (max-width:1921px)
{
  .spp01 {
    position: absolute;
    width: 325px !important;
    top: 347px !important;
    left: 515px !important;

    animation:mymovebr 2s;
  }

  .spp02 {
    position: absolute;
    width: 400px !important;
    top: 10px !important;
    left: 487px !important;
    animation: mymovetl 2s;
  }

  .spp03 {
    position: absolute;
    width: 210px !important;
    top: 213px !important;
    left: 362px !important;

    animation: mymoveM 2s;
    animation-delay: 1s;
  }

  .spp04 {
    position: absolute;
    width: 325px !important;
    top: 133px !important;
    left: -23px !important;   
    animation: mymovebl 2s;
  }

   .llspic2{
  position: absolute;
  width: 11.2rem !important;
  top: 35% !important;
  right: 29% !important;
  animation: pulse 2s infinite ease-in-out; 
  transform-origin: bottom center; 
   }


  .listing .l1{
  position:absolute;
  width:9rem !important;
  left: 2% !important;
  bottom:12% !important;
  animation:m 2s infinite linear;   
  }

  .listing .l2{
  position: absolute;
  width:9rem !important;
  bottom: 64% !important;
  right:6% !important;
   
  }

  
  .ss01 {
    position: absolute;
    width: 165px !important;
    top: 73px !important;
    left: 248px !important;
  }


  .ss02 {
    position: absolute;
    width: 165px !important;
    top: 293px !important;
    left: 51px !important;

  }

  .ss03 {
    position: absolute; 
    width: 165px !important;
    top: 288px !important;
    left: 262px !important;
  }

  .ss04 {
    position: absolute;
    width: 165px !important;
    top: 72px !important;
    left: 53px !important;
  }


  
  .llspic1{
  position: absolute;
  width: 7.5rem !important;
  top: 3% !important;
  right: -13% !important;
 }



  .llspic3{
    position: absolute;
    width: 13rem;
    left: -12%;
    bottom: 5.5% !important; 
  }

  .dfgjhfgd {
  display: flex;
  width: 100%;
  height: 104vh !important;
  align-items: center; 
  padding: 1rem 0 3rem 0;
   }
      .spp03{
        width: 210px !important;
        top: 213px !important;
        left: 350px !important;
}
.RIMG3 .RIMGG3 {
        width: 7vw !important;
        left: 177px !important;
        top: 10px !important;
    }

  
}

@media only screen and (max-width:1601px)
{

   .spp01 {
    position: absolute;
          width: 258px !important;
        top: 296px !important;
        left: 392px !important;

    animation:mymovebr 2s;
  }

  .spp02 {
    position: absolute;
    width: 335px !important;
    top: 7px !important;
    left: 400px !important;
    animation: mymovetl 2s;
  }

  .spp03 {
    position: absolute;
    width: 163px !important;
    top: 179px !important;
    left: 308px !important;

    animation: mymoveM 2s;
    animation-delay: 1s;
  }

  .spp04 {
    position: absolute;
    width: 270px !important;
    top: 115px !important;
    left: -22px !important;  
    animation: mymovebl 2s;
  }

   .llspic2{
  position: absolute;
  width: 9.2rem !important;
  top: 35% !important;
  right: 29% !important;
  animation: pulse 2s infinite ease-in-out; 
  transform-origin: bottom center; 
   }


  .listing .l1{
  position:absolute;
    width: 6.5rem;
    top: 51%;
    right: -16%;
  animation:m 2s infinite linear;   
  }

  .listing .l2{
  position: absolute;
  width:8rem !important;
  bottom: 64% !important;
  right:6% !important;
   
  }

  
  .ss01 {
    position: absolute;
    width: 125px !important;
    top: 73px !important;
    left: 205px !important;
  }


  .ss02 {
    position: absolute;
    width: 125px !important;
    top: 242px !important;
    left: 51px !important;

  }

  .ss03 {
    position: absolute; 
    width: 125px !important;
    top: 243px !important;
    left: 215px !important;

  }

  .ss04 {
    position: absolute;
    width: 125px !important;
    top: 72px !important;
    left: 53px !important;
  }


  
  .llspic1{
  position: absolute;
  width: 7.5rem !important;
  top: 3% !important;
  right: -13% !important;
 }



  .llspic3{
    position: absolute;
    width: 10rem;
    left: -13%;
    bottom: 5.5% !important; 
  }

  .dfgjhfgd {
  display: flex;
  width: 100%;
  height: 109vh !important;
  align-items: center; 
  padding: 1rem 0 3rem 0;
   }
.RIMG3 .RIMGG3 {
        width: 7vw !important;
        left: 145px !important;
        top: 10px !important;
    }
    .spp01{
        width: 275px !important;
        top: 280px !important;
        left: 447px !important;
  
}
.RIMG3 .RIMGG3 {
        width: 7vw !important;
        left: 145px !important;
        top: 10px !important;
    }
  
}

@media only screen and (max-width:1366px)
{
    .spp01 {
    position: absolute;
    width: 238px !important;
    top: 247px !important;
    left: 396px !important;
    animation:mymovebr 2s;
  }

  .spp02 {
    position: absolute;
    width: 284px !important;
    top: 15px !important;
    left: 349px !important;
    animation: mymovetl 2s;
  }

  .spp03 {
    position: absolute;
    width: 191px !important;
    top: 121px !important;
    left: 225px !important;
    animation: mymoveM 2s;
    animation-delay: 1s;
  }

  .spp04 {
    position: absolute;
    width: 221px !important;
    top: 108px !important;
    left: 0px !important;
    animation: mymovebl 2s;
  }
  .llspic2{
  position: absolute;
  width: 9.2rem !important;
  top: 35% !important;
  right: 29% !important;
  animation: pulse 2s infinite ease-in-out; 
  transform-origin: bottom center; 
   }

  .listing .l1{
  position:absolute;
  width:9rem !important;
  left: 2% !important;
  bottom:4% !important;
  animation:m 2s infinite linear;   
  }

  .listing .l2{
  position: absolute;
  width:8rem !important;
  bottom: 64% !important;
  right:6% !important;
  }

  
  .ss01 {
    position: absolute;
    width: 127px !important;
    top: 35px !important;
    left: 164px !important;
  }


  .ss02 {
    position: absolute;
    width: 143px !important;
    top: 200px !important;
    left: 16px !important;

  }

  .ss03 {
    position: absolute;
    width: 130px !important;
    top: 204px !important;
    left: 169px !important;
  }

  .ss04 {
    position: absolute;
    width: 126px !important;
    top: 40px !important;
    left: 25px !important;
  }

  .llspic1{
  position: absolute;
  width: 7.5rem !important;
  top: 3% !important;
  right: 7% !important;
 }



  .llspic3{
    position: absolute;
    width: 12rem !important;
    left: -15% !important;
    bottom: 5.5% !important; 
  }

  .dfgjhfgd {
  display: flex;
  width: 100%;
  height: 62vh !important;
  align-items: center; 
  padding: 1rem 0 3rem 0;
   }



}



@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }
      .sdfghdfgdf 
  {
    margin-top: 9rem;
  }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }

    :root{
    --llspic1-width: 23vw;
    --llspic1-top: 3%;
    --llspic1-right: -12%;
    --llspic3-width: 41vw;
    --llspic3-left: -5%;
    --llspic3-bottom: 5.5%;
  }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
        .spp03{
        position: absolute;
        width: 26vw !important;
        top: 603px !important;
        left: 355px !important;
}
    .spp04{
        position: absolute;
        width: 33vw !important;
        top: 593px !important;
        left: 20px !important;
    }
    .spp02{
        position: absolute;
        width: 39vw !important;
        top: 433px !important;
        left: 506px !important;
}
    .spp01 {
        position: absolute;
        width: 36vw !important;
        top: 741px !important;
        left: 608px !important;
    }
    .llspic2{
        position: absolute;
        width: 38vw !important;
        top: 33% !important;
        right: 28% !important;

    }
    .listing .l2{
        position: absolute;
        width: 26vw !important;
        bottom: 64% !important;
        right: 8% !important;
    }
    .listing .l1 {
        position: absolute;
        width: 36vw !important;
        left: -3% !important;
        top: 49% !important;

    }
    .listing .l2 {
        position: absolute;
        width: 43vw !important;
        bottom: 53% !important;
        right: -6% !important;
    }
    .ss04 {
        position: absolute;
        width: 29vw !important;
        top: 203px !important;
        left: 126px !important;
    }
        .ss01{
        position: absolute;
        width: 31vw !important;
        top: 194px !important;
        left: 532px !important;
    }
    .ss02{
        position: absolute;
        width: 33vw !important;
        top: 596px !important;
        left: 107px !important;
    }
    .ss03{
        position: absolute;
        width: 31vw !important;
        top: 593px !important;
        left: 537px !important;
    }
    .RIMG3 .RIMGG3{
        width: 32vw !important;
        left: 328px !important;
        top: -29px !important;
    }
        .RIMG1 .RIMGG1 {
        width: 28vw !important;
        left: 4px !important;
        bottom: 196px !important;
    }
}

@media only screen and (max-width:801px){
  .spp01 {
    width: 35vw !important;
    top: 77% !important;
    left: 57% !important;
  }
  .spp02 {
    width: 38vw !important;
    top: 40% !important;
    left: 53% !important;
  }
  .spp03 {
    width: 28vw !important;
    top: 57% !important;
    left: 32% !important;
  }
  .spp04 {
    width: 31vw !important;
    top: 55% !important;
    left: 1% !important;
  }
  .llspic2{
    width: 39.5vw !important;
  }
  .listing .l1{
    width:36vw !important;
    left: -1% !important;
    bottom:16% !important;
  }
  .listing .l2{
    width:34.5vw !important;
  }
  .ss01 {
    width: 30vw !important;
    top: 17% !important;
    left: 55% !important;
  }
  .ss02 {
    width: 33vw !important;
    top: 52% !important;
    left: 12% !important;
  }
  .ss03 {
    width: 30vw !important;
    top: 52.5% !important;
    left: 55% !important;
  }
  .ss04 {
    width: 31vw !important;
    top: 15% !important;
    left: 13.5% !important;
  }
  .RIMG1 .RIMGG1{
    width: 25vw !important;
    left: 2% !important;
    bottom: 20% !important;
  }
  .RIMG2 .RIMGG2{
    width: 22vw !important;
    right: 1.5% !important;
    bottom: 21.5% !important;
  }
  .RIMG3 .RIMGG3{
    width: 28vw !important;
    left: 32% !important;
    top: 1% !important;
  }
}

@media only screen and (max-width:601px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }

    :root{
      --llspic1-width: 23vw;
      --llspic1-top: 3%;
      --llspic1-right: -12%;
      --llspic3-width: 41vw;
      --llspic3-left: -5%;
      --llspic3-bottom: 10%;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
    .spp01 {
        
        width: 36vw !important;
        top: 83.5% !important;
        left: 58% !important;
    }
  
  .spp02 {
        width: 40vw !important;
        top: 59% !important;
        left: 49% !important;
    
  }
  .spp03 {
    top: 64% !important;
  }
  .spp04 {
        width: 33vw !important;
        top: 70% !important;
        left: 1% !important;
    
  }
  .listing .l1{
    bottom:19% !important;
  }
  .ss02 {
    top: 50% !important;
  }
  .ss03 {
    top: 71% !important;
  }
  .RIMG1 .RIMGG1{
    bottom: 24% !important;
  }
  .RIMG2 .RIMGG2{
    bottom: 25% !important;
  }
}




@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}
@media only screen and (max-width:431px){
.spp03 {
        width: 28vw !important;
        top: 57% !important;
        left: 32% !important;
    }
        .RIMG3 .RIMGG3{
        width: 28vw !important;
        left: 37% !important;
        top: 1% !important;
    }
    .spp03{
        width: 28vw !important;
        top: 57% !important;
        left: 33% !important;
    }
      .llspic2{
        width: 9.2rem !important;
        top: 30% !important;
        right: 29% !important;
 
    }
        :root {
        --llspic1-width: 23vw;
        --llspic1-top: 3%;
        --llspic1-right: -10%;
        --llspic3-width: 41vw;
        --llspic3-left: -5%;
        --llspic3-bottom: 10%;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}

/* Nisha css start */
.llspic1{
  position: absolute;
  width: 7.5rem !important;
  top: 3%;
  right: 7%;
}

.llspic2{
  position: absolute;
  width: 9.2rem !important;
  top: 35%;
  right: 29%;
  animation: pulse 2s infinite ease-in-out; 
  transform-origin: bottom center; 
}

.llspic3{
  position: absolute;
  width: 12rem !important;
  left: -15%;
  bottom: 5.5%; 
}

@keyframes pulse{
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}


/* Nisha css end */

/* Rohit css start */

.RIMG1 .RIMGG1{
  position: absolute;
    width: 7rem;
    left: 4px;
    bottom: 83px;
}

.RIMG2 .RIMGG2{
  position: absolute;
    width: 5.2rem;
    right: 7px;
    bottom: 95px;
}

.RIMG3 .RIMGG3{
  position: absolute;
    width: 6.8rem;
    left: 108px;
    top: 10px;
}
/* Rohit css End */

/* Prerana css start */
.listing .l1{
  position:absolute;
  width:9rem;
  left: 2%;
  bottom:4%;
  animation:m 2s infinite linear;  
}
.listing .l2{
  position: absolute;
  width:8rem;
  bottom: 64%;
  right:6%;
   
}

@keyframes m{
  0%{transform:translateY(0);}
  30%{transform:translateX(-1rem)}
  60%{transform:translateY(-1rem)}
  100%{transform:translateY(0)}
}
/* Prerana css end */


/* Sayantika css Start */

.ss01 {
  position: absolute;
  width: 127px;
  top: 35px;
  left: 164px;
}


.ss02 {
  position: absolute;
  width: 143px;
  top: 200px;
  left: 16px;

}

.ss03 {
  position: absolute;
  width: 130px;
  top: 204px;
  left: 169px;
}

.ss04 {
  position: absolute;
  width: 126px;
  top: 40px;
  left: 25px;
}

/* Sayantika css end */

/* Sayantika css start */
.spp01 {
  position: absolute;
  width: 238px;
  top: 247px;
  left: 396px;
  animation:mymovebr 2s;
}

.spp02 {
  position: absolute;
  width: 284px;
  top: 15px;
  left: 349px;
  animation: mymovetl 2s;
}

.spp03 {
  position: absolute;
  width: 191px;
  top: 121px;
  left: 225px;
  animation: mymoveM 2s;
  animation-delay: 1s;
}

.spp04 {
  position: absolute;
  width: 221px;
  top: 108px;
  left: 0px;
  animation: mymovebl 2s;
}

@keyframes mymovebr{
  0%{
    transform: scale(0.2) translate(-500px,-500px);
    opacity: 0;
  }
   50%{
    transform: scale(0.4) translate(0px,0px);
    opacity: 0.5;
  }

    100%{
    transform: scale(1) translate(0px,0px);
    opacity: 1;
  }
}
@keyframes mymoveM {
  0%{
    transform: scale(0.2)(360deg);
    opacity: 0;
  }
    50% {
      transform: rotate(360deg);
      opacity: 0.5;
    }

    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  @keyframes mymovetl {
    0% {
      transform: scale(0.2) translate(-500px,500px);
      opacity: 0;
    }

    50% {
      transform: scale(0.4) translate(0px, 0px);
      opacity: 0.5;
    }

    100% {
      transform: scale(1) translate(0px, 0px);
      opacity: 1;
    }
  }

@keyframes mymovebl{
  0%{
    transform: scale(0.2) translate(500px,500px);
    opacity: 0;
  }
   50%{
    transform: scale(0.4) translate(0px,0px);
    opacity: 0.5;
  }

    100%{
    transform: scale(1) translate(0px,0px);
    opacity: 1;
  }
}
/* Sayantika css end */


/* local listing  servive */
/* local listing  servive */
/* local listing  servive */


@media only screen and (max-width:600px){
  .spp01 {
    top: 80.5% !important;
  }
  .spp02 {
    top: 50% !important;
  }
  .spp03 {
    top: 64% !important;
  }
  .spp04 {
    top: 63% !important;
  }
  .listing .l1{
    bottom:19% !important;
  }
  .ss02 {
    top: 50% !important;
  }
  .ss03 {
    top: 51% !important;
  }
  .RIMG1 .RIMGG1{
    bottom: 24% !important;
  }
  .RIMG2 .RIMGG2{
    bottom: 25% !important;
  }
}
@media only screen and (max-width:541px){
  .spp01 {
    top: 81.5% !important;
  }
  .spp02 {
    top: 54% !important;
  }
  .spp03 {
    top: 77% !important;
  }
  .spp04 {
    top: 66% !important;
  }
}
@media only screen and (max-width:431px){
  .spp01 {
    top: 87.5% !important;
    left: 54% !important;
  }
  .spp02 {
    top: 68.5% !important;
  }
  .spp03 {
    top: 77% !important;
  }
  .spp04 {
    top: 76% !important;
  }
  .ss03 {
    top: 50.5% !important;
  }
  .RIMG1 .RIMGG1{
    bottom: 25.5% !important;
  }
  .RIMG2 .RIMGG2{
    bottom: 26.5% !important;
  }

  .llspic3
  {
    left: 5% !important;
    bottom: 10.5% !important;
  }
}

@media only screen and (max-width:414px){
    .llspic3
  {
    left: 7% !important;
    bottom: 10.5% !important;
  }

}



@media only screen and (max-width:394px){
    .spp01 {
    top: 88.5% !important;
    left: 53% !important;
    }
    .spp02 {
      top: 70.5% !important;
    }
    .spp03 {
      top: 79% !important;
    }
    .spp04 {
      top: 78% !important;
    }
    .ss03 {
      top: 50.5% !important;
    }
    .RIMG1 .RIMGG1{
      bottom: 25.5% !important;
    }
    .RIMG2 .RIMGG2{
      bottom: 26.5% !important;
    }

    .llspic3
    {
      left: 5% !important;
      bottom: 10.5% !important;
    }

}
@media only screen and (max-width:376px){
    .spp01 {
    top: 90% !important;
    left: 53% !important;
    }
    .spp02 {
      top: 70.5% !important;
    }
    .spp03 {
      top: 82% !important;
    }
    .spp04 {
      top: 78% !important;
    }
    .ss03 {
      top: 50.5% !important;
    }
    .RIMG1 .RIMGG1{
      bottom: 25.5% !important;
    }
    .RIMG2 .RIMGG2{
      bottom: 26.5% !important;
    }

    .llspic3
    {
      left: 5% !important;
      bottom: 10.5% !important;
    }
  }
@media only screen and (max-width:361px){
    .spp01 {
    top: 90% !important;
    left: 53% !important;
    }
    .spp02 {
      top: 75.5% !important;
    }
    .spp03 {
      top: 82% !important;
    }
    .spp04 {
      top: 82% !important;
    }
    .ss03 {
      top: 50.5% !important;
    }
    .RIMG1 .RIMGG1{
      bottom: 25.5% !important;
    }
    .RIMG2 .RIMGG2{
      bottom: 26.5% !important;
    }

    .llspic3
    {
      left: 5% !important;
      bottom: 10.5% !important;
    }
}
/* @media only screen and (max-width:321px){
  .spp01 {
    top: 89.5% !important;
  }
  .spp02 {
    top: 74% !important;
  }
  .spp03 {
    top: 81% !important;
  }
  .spp04 {
    top: 80% !important;
  }
  .listing .l1{
    bottom:20% !important;
  }
  .ss02 {
    top: 48.5% !important;
  }
  .ss03 {
    top: 49% !important;
  }
} */
@media only screen and (max-width:281px){
  .spp01 {
    top: 90.5% !important;
  }
  .spp02 {
    top: 76.5% !important;
  }
  .spp03 {
    top: 83.5% !important;
  }
  .spp04 {
    top: 82% !important;
  }
  .listing .l1{
    bottom:20.5% !important;
  }
  .ss02 {
    top: 48% !important;
  }
  .ss03 {
    top: 48.5% !important;
  }
  .RIMG1 .RIMGG1{
    bottom: 27.5% !important;
  }
  .RIMG2 .RIMGG2{
    bottom: 28.5% !important;
  }
}