.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.dfbjhfdfgdf{
  margin-top: 50px;
}

.fbgdfgdfgdf button {
    background-color: rgb(1, 118, 211);
    color: rgb(255, 255, 255);
    font-size: 17px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    padding: 12px 30px;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.vnhdfiuvhfdbfd {
  width: 100%;
  padding: 50px 0;
  background-size: 100% 100%;
}

.fdghufgfdgf {
  text-align: center;
  padding: 20px 0;
}
.fdghufgfdgf h2 {
  color: #032D60;
  font-weight: 600;
  font-size: 40px;
}

.bhyudfdg {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
}
.bhyudfdg img {
  width: 100%;
  height: 100%;
}

.fnhjifdfdg {
  text-align: center;
}
.fnhjifdfdg h6 {
  color: #032D60;
  font-size: 25px;
  font-weight: 600;
  padding-top: 5px;
}
.fnhjifdfdg p {
  color: black;
  font-size: 15px;
  padding-top: 15px;
}

.vhfdhhgfdfdg {
  width: 100%;
  padding: 40px 0;
}


.fkuyfdfrdgf {
  width: 80%;
  margin: auto;
  text-align: center;
}
.fkuyfdfrdgf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.ujhfgfg {
  width: 60px;
  height: 60px;
}
.ujhfgfg img {
  width: 100%;
  height: 100%;
}

.fdbvhjfyfdg h6 {
  font-size: 25px;
  font-weight: 600;
  color: #032D60;
}

.fvbnjfdvfdgfd {
  margin-top: 60px;
}

.fhvgfdfd {
  padding: 35px 15px;
  border-radius: 8px;
  margin-bottom: 35px;
  background-color: #fff !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.gbgfhgf img 
{
    width:100%;
    height:auto;
    border-radius:8px;
}

.sdfdsffd h2
{
  font-size: 40px;
  font-weight: 600;
  color: #032D60;
}


.animationContainer {
  text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding-top: 10vh;
    /* height: 32vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.staticText {
  animation: showup 7s infinite;
}

.revealContainer {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  animation: reveal 7s infinite;
}

.animatedText {
  display: inline-block;
  margin-left: -500px; /* adjust based on full text width */
  animation: slidein 7s infinite;
}

/* Style your text spans */
.highlightRed {
  color: #EB4A4A;
  font-size: 50px;;
  font-weight: 500;
}

.highlightBlue {
  color: #2B2C6E;
  font-weight: 500;
}

/* Animations */
@keyframes showup {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slidein {
  0%, 20%   { margin-left: -800px; }
  35%, 100% { margin-left: 0px; }
}

@keyframes reveal {
  0%   { opacity: 0; width: 0px; }
  20%  { opacity: 1; width: 0px; }
  30%  { width: 400px; }  /* Adjust based on your text length */
  80%  { opacity: 1; }
  100% { opacity: 0; width: 400px; }
}


@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

      .sdfghdfgdf 
    {
      margin-top: 9rem;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}


.image558c{
  text-align: center;
  margin-top: 50px;
}

.blinkimage {
  width: 60px;
  height: 60px;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.image558c img 
{
    width:100px;
    height:50px;
}

.bgjhdf5f5
{
    margin-top: -130px;
    margin-left: 45%;
}

.bgjhdf5f5545
{
    margin-top: -100px;
    margin-left: -36%;

}


.image558caaa img 
{
    width: 200px;
    height: 200px;
    /* margin-top: -65%;
    margin-left: 65%; */
}


/* body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */



.boxpath {
  width: 200px;
  height: 200px;
  position: relative;
}

.movingimg {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  animation: moveBox 4s linear infinite;
   margin-top: -370px;
    margin-left: 370px;
}

@keyframes moveBox {
  0%   { top: 0; left: 0; }
  25%  { top: 0; left: 80px; }   /* Move Right */
  50%  { top: 80px; left: 80px; } /* Move Down */
  75%  { top: 80px; left: 0; }   /* Move Left */
  100% { top: 0; left: 0; }       /* Move Up */
}


@media only screen and (max-width:2551px) {
  .movingimg {
    width: 9vw !important;
    height: 9vw !important;
    top: -6vw !important;
    left: 10vw !important;
  }
}

@media only screen and (max-width:1921px) {
  .movingimg {
    width: 9vw !important;
    height: 9vw !important;
    top: -1vw !important;
    left: 5vw !important;

  }
}

@media only screen and (max-width:1600px) {
  .movingimg {
    width: 9vw !important;
    height: 9vw !important;
    top: 4vw !important;
    left: 2vw !important;

  }
}

@media only screen and (max-width:1367px) {
  .movingimg {
    width: 9vw !important;
    height: 9vw !important;
    top: 4vw !important;
    left: 6vw !important;

  }
}

@media only screen and (max-width:992px) {
  .movingimg {
    width: 10vw !important;
    height: 10vw !important;
    top: 13vw !important;
    left: -5vw !important;
  }
}

@media only screen and (max-width:800px) {
  .movingimg {
    width: 15vw !important;
    height: 15vw !important;
    top: 9vw !important;
    left: 5vw !important;
  }
}

@media only screen and (max-width:600px) {
  .movingimg {
    width: 16vw !important;
    height: 16vw !important;
    top: 25vw !important;
    left: -11vw !important;
  }
}

@media only screen and (max-width:541px) {
  .movingimg {
    width: 16vw !important;
    height: 16vw !important;
    top: 32vw !important;
    left: -18vw !important;
  }
}

@media only screen and (max-width:431px) {
  .movingimg {
    width: 17vw !important;
    height: 17vw !important;
    top: 42vw !important;
    left: -18vw !important;
  }
}
@media only screen and (max-width:415px) {
  .movingimg {
    width: 17vw !important;
    height: 17vw !important;
    top: 42vw !important;
    left: -18vw !important;
  }
}
@media only screen and (max-width:394px) {
  .movingimg {
    width: 17vw !important;
    height: 17vw !important;
    top: 50vw !important;
    left: -22vw !important;

  }
}
@media only screen and (max-width:376px) {
  .movingimg {
    width: 17vw !important;
    height: 17vw !important;
     top: 53vw !important;
    left: -25vw !important;
  }
}
@media only screen and (max-width:360px) {
  .movingimg {
    width: 17vw !important;
    height: 17vw !important;
     top: 56vw !important;
    left: -31vw !important;
  }
}
@media only screen and (max-width:321px) {
  .movingimg {
    width: 17vw !important;
    height: 17vw !important;
    top: 42vw !important;
    left: -18vw !important;
  }
}
@media only screen and (max-width:280px) {
  .movingimg {
    width: 17vw !important;
    height: 17vw !important;
    top: 42vw !important;
    left: -18vw !important;
  }
}