.dbfghsdf img{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    .sdfghdfgdf {
      width: 50%;
      float: left;
      padding: 70px;
    }
    .sdfghdfgdf h1 {
      color: #032D60;
      font-weight: bold;
    }
    .sdfghdfgdf p {
      color: #181818;
      font-size: 17px;
      font-weight: 500;
    }
    
    .btn125 {
      padding: 14px 40px;
      background-color: #0176D3;
      color: white;
      font-size: 17px;
      font-weight: 600;
      border: 2px solid #0176D3;
      border-radius: 4px;
    }
    
    .btn126 {
      padding: 14px 40px;
      background-color: transparent;
      color: #0176D3;
      font-size: 17px;
      font-weight: 600;
      border: 2px solid #0176D3;
      border-radius: 4px;
      margin-left: 10px;
    }
    
    .custom-container {
      width: 70%;
      margin: auto;
    }
    
    .fjhfdfgdfg {
      width: 100%;
      padding: 40px 0;
    }
    
    .dfgjhfgd {
      display: flex;
      width: 100%;
      height: 70vh;
      align-items: center;
      padding: 1rem 0 3rem 0;
    }
    
    .dfgjhfgd
    {
      width: 100%;
      height: 70vh;
      background-size: 100% 100%;

    }
    
    .sdfsdfsdf h2 {
      color: #032D60;
      font-size: 40px;
      font-weight: 600;
    }
    .sdfsdfsdf p {
      color: #181818;
      font-weight: 500;
      font-size: 18px;
    }
    
    .dfhbfgd {
      width: 100%;
      height: 450px;
    }
    .dfhbfgd img {
      width: 100%;
      height: 100%;
    }
    
    .dfbnhdfdf h2 {
      color: #032D60;
      font-size: 40px;
      font-weight: 600;
    }
    .dfbnhdfdf p {
      color: #181818;
      font-weight: 500;
      font-size: 17px;
    }
    
    .fgjhdfg .form-control {
      padding: 10px;
      border: none !important;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    
    .fgjhdfg {
      margin-bottom: 20px;
    }
    
    .dfgbfdf button {
      padding: 14px 35px;
      color: white;
      background-color: #0176D3;
      border-radius: 4px;
      border: none;
      font-size: 17px;
      font-weight: 500;
    }
    
    .inieuirjndsirferer.collapse {
        justify-content: right;
    }
    
    .dfbghdfgdfgdf {
      width: 100%;
      padding: 40px 0;
    }
    
    .mgjhbdfg p {
      padding-bottom: 10px;
      color: #181818;
    }
    
    .mgjhbdfg a {
      color: #0176D3;
      font-weight: 500;
    }
    
    .dfbjhfdfgdf {
      width: 100%;
      padding: 40px 0;
    }
    
    .vgbfdf {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 30px;
      border-radius: 1.4rem;
    }
    
    .custom-container10 {
      width: 75%;
      margin: auto;
    }
    
    .fbgdfgdfgdf h2 {
      color: #032D60;
      font-size: 40px;
      font-weight: 600;
    }
    .fbgdfgdfgdf p {
      color: #181818;
      font-size: 17px;
    }
    .fbgdfgdfgdf button {
      padding: 12px 30px;
      background-color: #0176D3;
      color: white;
      font-size: 17px;
      border: none;
      border-radius: 4px;
    }
    
    .dgndfgdfgdf {
      width: 100%;
      height: 350px;
    }
    .dgndfgdfgdf img {
      width: 100%;
      height: 100%;
    }
    
    .fdnbvgdfgdfgdf {
      margin-top: 40px;
    }
    
    .cfbvhdfgdf {
      width: 70%;
      margin: auto;
    }
    .cfbvhdfgdf h2 {
      color: #032D60;
      font-weight: bold;
      font-size: 40px;
    }
    .cfbvhdfgdf p {
      color: #181818;
      font-size: 17px;
    }
    
    .xnjhxffgdf {
      width: 100%;
    }
    .xnjhxffgdf img {
      width: 100%;
    }
    
    /*end new digital markeing design page  css*/
    
    
    
    /*start affordable seo css*/
    /*start affordable seo css*/
    /*start affordable seo css*/
    .gjhfgfgdfg {
      width: 100%;
      padding: 40px 0;
    }
    
    .gdfjkghdgsd {
      width: 100%;
      background-color: #143664;
      height: 450px;
      padding: 25px;
      border-radius: 4px;
    }
    
    .jhgdf {
      width: 100%;
      height: 2px;
      background-color: #40444E;
    }
    
    .gdfjkghdgsd h5 {
      color: white;
      font-size: 25px;
      font-weight: 600;
    }
    
    .gdfjkghdgsd p {
      color: white;
      font-size: 16px !important;
      width: 100%;
    }
    
    .gdfhgdfg {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: #C35F16;
      text-align: center;
      line-height: 55px;
    }
    
    .gdfhgdfg i {
      text-align: center;
      color: white;
    }
    
    .ggdfgdfg {
      margin-left: -20px !important;
    }
    
    .ggdfgdfg h6 {
      color: white;
      font-size: 18px !important;
      font-weight: 600;
    }
    
    .ggdfgdfg p {
      color: #fff;
      font-size: 14px !important;
      width: 100%;
    }
    
    .drfghdfgfr {
      margin-top: 15px;
    }
    
    .dfjbfg .form-control {
      padding: 10px;
    }
    
    .dfjbfg {
      margin-bottom: 25px;
    }
    
    .dfjbfg button {
      padding: 14px 45px;
      background-color: #2D4A8A;
      border: none;
      color: white;
      font-size: 18px;
      border-radius: 4px;
    }
    
    .dfjhdfbgdfgdfg h2 {
      color: black;
      font-size: 40px;
      font-weight: 600;
      padding: 10px 0;
    }
    
    .njhfbg5654 {
      width: 65px;
      height: 65px;
      text-align: center;
      margin: auto;
      background-color: #d6f7f7;
      border-radius: 8px;
      margin-top: 40px;
    }
    .njhfbg5654 img {
      width: 100%;
      height: 100%;
      padding: 8px;
    }
    
    .gdfhbgdfgdfg h4 {
      color: #032D60;
      font-weight: 600;
      height: 75px;
      font-size: 24px;
    }
    .gdfhbgdfgdfg button {
      font-weight: 600;
      color: #032D60;
      text-decoration: underline;
      margin-top: 50px;
      border: none;
    }
    
    .container-grid {
      width: 80%;
      margin: auto;
    }
    
    .fjhjdfdfgdf {
      width: 100%;
      padding: 40px 0;
    }
    
    .gdfhbgdfgdfg {
      text-align: center;
      margin-top: 30px;
    }
    .gdfhbgdfgdfg h4 {
      color: #133662;
      font-size: 20px;
    }
    
    .dfdfdfg {
      padding: 15px;
      margin: 10px 20px;
      border-radius: 16px;
      border-bottom: 12px solid #E6A822;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    
    .gdfhbgdfgdfg h4 {
      padding-top: 25px;
      font-size: 24px;
      color: #032D60 !important;
      font-weight: 600;
    }
    
    .sdmsdjhsds img {
      width: 100%;
      height: auto;
    }
    
    .mgjhbdfg h2{
        color: var(--main-blue-color);
    }
    
    .jindifrneurhrt_doeijewr{
        background: no-repeat fixed;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    
    .dcsbnhgrffsfee img{
        mix-blend-mode: multiply;
    }
    
    canvas {
      display: block;
      vertical-align: bottom;
    }
    
    /* ---- particles.js container ---- */
    
    .ewfjbnhavjedfkbn {
      position: absolute;
      width: 100%;
      height: 100%;
      /* background-image: url(""); */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
    
    /* ---- stats.js ---- */
    
    .count-particles{
      background: #000022;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      color: #13E8E9;
      font-size: .8em;
      text-align: left;
      text-indent: 4px;
      line-height: 14px;
      padding-bottom: 2px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
    
    .js-count-particles{
      font-size: 1.1em;
    }
    
    #stats,
    .count-particles{
      -webkit-user-select: none;
    }
    
    #stats{
      border-radius: 3px 3px 0 0;
      overflow: hidden;
    }
    
    .count-particles{
      border-radius: 0 0 3px 3px;
    }




    
@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

      .sdfghdfgdf 
    {
      margin-top: 9rem;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}

/* Karina css start */
.circle{
  position:absolute;
  width:18rem !important;
  height:auto !important;
  left:29%;
  top:10%;
  z-index: 2;
  }
  .img1{
    position: absolute;
    width: 8.5rem !important;
    height: auto !important;
    left: 17%;
    top: 2%;
  }
  .img2{
  position: absolute;
    width: 9.5rem !important;
    height: auto !important;
    left: 14%;
    top: 61%;
  }
  .img3{
  position: absolute;
    width: 8.5rem !important;
    height: auto !important;
    left: 64%;
    top: -3%;
  }
  .img4{
    position: absolute;
    width: 9rem !important;
    height: auto !important;
    left: 64%;
    top: 47%;
  }
/* Karina css end */

/* Prerana css start */
.s1{
    position: absolute;
    height: 15vw !important;
    width:   13vw !important;
    top: 1.2vw;
    right: 1.1vw;
    animation:5s infinite are;

}
@keyframes are{
  0%{transform:translateY(0);}
  30%{transform:translateX(-1rem)}
  60%{transform:translateY(-1rem)}
  100%{transform:translateY(0)}
}
.s2{
    position: absolute;
    height: 14.5vw !important;
    width:   14.2vw !important;
    top: 16.3vw;
    right: .2vw;
    animation:blink 1s infinite;
}
@keyframes blink{
  0%,100% {
    filter:drop-shadow(0 0 0px);}
  50%{
       filter:drop-shadow(0 0 10px);
    }
  }
.s3{
    position: absolute;
    height: 14vw !important;
    width:   16.2vw !important;
    top: 17vw;
    right: 14vw;
    animation:5s infinite moon;
    opacity:0;
}
@keyframes moon{
  0%{transform:translate(-1rem);}
  100%{transform:translateY(0);opacity:1.4};
}
.s4{
    position: absolute;
    height: 13vw !important;
    width:   15.3vw !important;
    top: 1vw;
    right: 14vw;
    animation:zoom 2s ease-in-out infinite;
}
@keyframes zoom{
    0%{transform:scale(1) translateY(0);}
    50%{transform:scale(1.1) translateY(-8px);}
    100%{transform:scale(1) translateY(0);}
}


/* Prerana css end */

/* Prerana css start */
.l1{
    position: absolute;
    height: 7vw !important;
    width: 9.5vw !important;
    top: 46vw;
    right: 65vw;
    z-index: 9999;
    animation:wiggle2 2s infinite linear;
}
@keyframes wiggle2 {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.3rem);
  }
  100%{
    transform: translateY(0);
  }
}
.l2{
    position: relative;
    height: 8vw !important;
    width: 9vw !important;
    top: 9vw;
    right: -19vw;
    margin-top: -59rem;
    z-index: 9999;
    animation:wiggle2 2s infinite linear;
}
@keyframes wiggle2 {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.3rem);
  }
  100%{
    transform: translateY(0);
  }
}
.l3{
    position: absolute;
    height: 8vw !important;
    width: 8vw !important;
    top: 58vw;
    right: 43vw;
    z-index: 9999;
    animation:wiggle2 2s infinite linear;
}
@keyframes wiggle2 {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.3rem);
  }
  100%{
    transform: translateY(0);
  }
}
.l4{
   position: absolute;
    height: 9vw !important;
    width: 10vw !important;
    top: 75% !important;
    right: 54vw;
    z-index: 9999;
    animation:wiggle2 2s infinite linear;
}
@keyframes wiggle2 {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.3rem);
  }
  100%{
    transform: translateY(0);
  }
}
.l5{
    position: absolute;
    height: 10vw !important;
    width: 9vw !important;
    top: 58vw;
    right: 67vw;
    z-index: 9999;
    animation:wiggle2 2s infinite linear;
}
@keyframes wiggle2 {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.3rem);
  }
  100%{
    transform: translateY(0);
  }
}
.l6{
    position: absolute;
    height: 8vw !important;
    width: 15vw !important;
    top: 53.5vw;
    right: 51.5vw;
    animation:blink 1s infinite;
}
@keyframes blink{
  0%,100% {
    filter:drop-shadow(0 0 0px);}
  50%{
       filter:drop-shadow(0 0 10px);
    }
}
/* Prerana css end */


@media only screen and (max-width:2551px){
  .circle {
    width: 18vw !important;
    height: auto !important;
    left: 32% !important;
    top: 15% !important;
    
}
  .img1 {
    width: 9.5vw !important;
    height: auto !important;
    left: 20% !important;
    top: 1% !important;
}
.img2 {
        width: 10.5vw !important;
        height: auto !important;
        left: 20% !important;
        top: 62% !important;
}
.img3{
    width: 9.5vw !important;
        height: auto !important;
        left: 63% !important;
        top: 1% !important;
}
.img4 {
    width: 9.5vw !important;
        height: auto !important;
        left: 58% !important;
        top: 53% !important;
}
.l1{
    
    height: auto !important;
        width: 7.5vw !important;
        top: 42vw !important;
        right: 66vw !important;

    
}
.l2{
    
    height: auto !important;
        width: 7.7vw !important;
        top: -7vw !important;
        right: -21vw !important;
    
}
.l3{
    
        height: auto !important;
        width: 7.3vw !important;
        top: 51vw !important;
        right: 45vw !important;
}
.l4{
    
   height: auto !important;
        width: 7.5vw !important;
        top: 60vw !important;
        right: 55vw !important;
    
}
.l5{
        height: auto !important;
        width: 7.8vw !important;
        top: 53vw !important;
        right: 67vw !important;
}
.l6 {
    height: 8vw !important;
    width: 14vw !important;
    top: 48.5vw !important;
    right: 52.5vw !important;
}
}
@media only screen and (max-width:1921px){
  .l2 {
        height: auto !important;
        width: 7.7vw !important;
        top: -2vw !important;
        right: -19vw !important;
}    
}
@media only screen and (max-width:1601px){
  .l2{
        height: auto !important;
        width: 7.7vw !important;
        top: 2vw !important;
        right: -18vw !important;
    }
}
@media only screen and (max-width:1367px){
  .l6{
        height: 8vw !important;
        width: 14vw !important;
        top: 53.5vw !important;
        right: 52.5vw !important;
    }
    .l4{
        height: auto !important;
        width: 8.5vw !important;
        top: 65vw !important;
        right: 55vw !important;
    }
        .l5 {
        height: auto !important;
        width: 8.8vw !important;
        top: 56vw !important;
        right: 68vw !important;
    }
    .l1 {
        height: auto !important;
        width: 8.5vw !important;
        top: 45vw !important;
        right: 64vw !important;
    }
    .l3 {
        height: auto !important;
        width: 7.3vw !important;
        top: 53vw !important;
        right: 44vw !important;
    }
        .l2{
        height: auto !important;
        width: 8.7vw !important;
        top: 7vw !important;
        right: -18vw !important;
    }
}
@media only screen and (max-width:801px){
      .circle{
        width: 35vw !important;
        height: auto !important;
        left: 34% !important;
        top: 47% !important;
    }
    .img2{
       width: 20.5vw !important;
        height: auto !important;
        left: 23% !important;
        top: 76% !important;
    }
    .img3{
        width: 18vw !important;
        height: auto !important;
        left: 64% !important;
        top: 39% !important;
    }
    .img4 {
        width: 19.5vw !important;
        height: auto !important;
        left: 57% !important;
        top: 69% !important;
    }
    .img1{
        width: 18.5vw !important;
        height: auto !important;
        left: 22% !important;
        top: 39% !important;
    }
    .s4{
    height: auto !important;
        width: 35.3vw !important;
        top: 16vw !important;
        right: 52vw !important;
    
}
.s1{
    height: auto !important;
    width: 30vw !important;
    top: 9.2vw !important;
    right: 19.1vw !important;
}
.s3{
    height: auto !important;
    width: 34.2vw !important;
    top: 53vw !important;
    right: 55vw !important;
    
}
.s2{
    height: auto !important;
    width: 34.2vw !important;
    top: 53.3vw !important;
    right: 8.2vw !important;
}
.l6{
        height: auto !important;
        width: 41vw !important;
        top: 202.5vw !important;
        right: 27.5vw !important;
    }
    .l2{
        height: auto !important;
        width: 31.7vw !important;
        top: -26vw !important;
        right: -56vw !important;
    }
    .l1{
        height: auto !important;
        width: 28.5vw !important;
        top: 179vw !important;
        right: 62vw !important;
    
}
    .l5{
        height: auto !important;
        width: 30.8vw !important;
        top: 218vw !important;
        right: 65vw !important;
}
.l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 237vw !important;
        right: 32vw !important;
    }
    .l3{
        height: auto !important;
        width: 26.3vw !important;
        top: 203vw !important;
        right: 0vw !important;
    }
}
@media only screen and (max-width:601px){
  .circle{
        width: 35vw !important;
        height: auto !important;
        left: 34% !important;
        top: 56% !important;
    }
        .img1{
        width: 17.5vw !important;
        height: auto !important;
        left: 22% !important;
        top: 50% !important;
    }
    .img3{
        width: 18vw !important;
        height: auto !important;
        left: 64% !important;
        top: 50% !important;
    }
        .img2{
        width: 19.5vw !important;
        height: auto !important;
        left: 21% !important;
        top: 78% !important;
    }
    .img4{
        width: 18.5vw !important;
        height: auto !important;
        left: 60% !important;
        top: 72% !important;
    }
    .s1{
        height: auto !important;
        width: 30vw !important;
        top: 13.2vw !important;
        right: 14.1vw !important;
    }
    .l6{
        height: auto !important;
        width: 44vw !important;
        top: 243.5vw !important;
        right: 25.5vw !important;
    }
        .l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 277vw !important;
        right: 32vw !important;
    }
        .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 259vw !important;
        right: 68vw !important;
    }
    .l1{
        height: auto !important;
        width: 28.5vw !important;
        top: 220vw !important;
        right: 62vw !important;
    }
    .l3{
        height: auto !important;
        width: 26.3vw !important;
        top: 249vw !important;
        right: -2vw !important;
    }
    .l2{
        height: auto !important;
        width: 31.7vw !important;
        top: -11vw !important;
        right: -56vw !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }

    .dbfghsdf 
    {
      margin-top: 30px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}

@media only screen and (max-width:540px){
  .l6 {
        height: auto !important;
        width: 44vw !important;
        top: 263.5vw !important;
        right: 25.5vw !important;
    }
        .l1{
        height: auto !important;
        width: 28.5vw !important;
        top: 240vw !important;
        right: 66vw !important;
    }
        .l3{
        height: auto !important;
        width: 24.3vw !important;
        top: 267vw !important;
        right: -2vw !important;
    }
    .l4 {
        height: auto !important;
        width: 29.5vw !important;
        top: 300vw !important;
        right: 32vw !important;
    }
    .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 277vw !important;
        right: 68vw !important;
    }
    .l2{
        height: auto !important;
        width: 31.7vw !important;
        top: -2vw !important;
        right: -56vw !important;
    }
}

@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}
@media only screen and (max-width:431px){
  .circle {
        width: 35vw !important;
        height: auto !important;
        left: 34% !important;
        top: 69% !important;
    }
    .img1{
        width: 19.5vw !important;
        height: auto !important;
        left: 22% !important;
        top: 63% !important;
    }
        .img3{
        width: 19vw !important;
        height: auto !important;
        left: 62% !important;
        top: 63% !important;
    }
    .img2{
        width: 19.5vw !important;
        height: auto !important;
        left: 21% !important;
        top: 84% !important;
    }
    .img4{
        width: 18.5vw !important;
        height: auto !important;
        left: 60% !important;
        top: 81% !important;
    }
    .l6{
        height: auto !important;
        width: 44vw !important;
        top: 328.5vw !important;
        right: 25.5vw !important;
    }
    .l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 363vw !important;
        right: 32vw !important;
    }
        .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 343vw !important;
        right: 65vw !important;
    }
    .l3{
        height: auto !important;
        width: 28.3vw !important;
        top: 333vw !important;
        right: -2vw !important;
    }
    .l1{
        height: auto !important;
        width: 29.5vw !important;
        top: 307vw !important;
        right: 66vw !important;
    }
    .l2{
        height: auto !important;
        width: 31.7vw !important;
        top: 19vw !important;
        right: -56vw !important;
    }
}


@media only screen and (max-width:415px){
    .l6{
        height: auto !important;
        width: 44vw !important;
        top: 338.5vw !important;
        right: 25.5vw !important;
    }
    .l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 370vw !important;
        right: 32vw !important;
    }
        .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 364vw !important;
        right: 65vw !important;
    }
    .l3{
        height: auto !important;
        width: 28.3vw !important;
        top: 346vw !important;
        right: -2vw !important;
    }
    .l1{
        height: auto !important;
        width: 29.5vw !important;
        top: 325vw !important;
        right: 66vw !important;
    }
    .l2{
        height: auto !important;
        width: 31.7vw !important;
        top: 19vw !important;
        right: -56vw !important;
    }
}

@media only screen and (max-width:394px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }
     .l6{
        height: auto !important;
        width: 44vw !important;
        top: 350.5vw !important;
        right: 25.5vw !important;
    }
    .l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 386vw !important;
        right: 32vw !important;
    }
        .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 370vw !important;
        right: 65vw !important;
    }
    .l3{
        height: auto !important;
        width: 28.3vw !important;
        top: 366vw !important;
        right: -2vw !important;
    }
    .l1{
        height: auto !important;
        width: 29.5vw !important;
        top: 335vw !important;
        right: 66vw !important;
    }
    .l2{
        height: auto !important;
        width: 31.7vw !important;
        top: 29vw !important;
        right: -56vw !important;
    }
}


@media only screen and (max-width:376px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
     .l6{
        height: auto !important;
        width: 44vw !important;
        top: 360.5vw !important;
        right: 25.5vw !important;
    }
    .l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 396vw !important;
        right: 32vw !important;
    }
        .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 380vw !important;
        right: 65vw !important;
    }
    .l3{
        height: auto !important;
        width: 28.3vw !important;
        top: 376vw !important;
        right: -2vw !important;
    }
    .l1{
        height: auto !important;
        width: 29.5vw !important;
        top: 345vw !important;
        right: 66vw !important;
    }
    .l2{
        height: auto !important;
        width: 31.7vw !important;
        top: 32vw !important;
        right: -56vw !important;
    }
}
@media only screen and (max-width:361px){
      .img2{
        width: 19.5vw !important;
        height: auto !important;
        left: 20% !important;
        top: 88% !important;
    }
        .img4{
        width: 18.5vw !important;
        height: auto !important;
        left: 57% !important;
        top: 81% !important;
    }
    .circle{
        width: 35vw !important;
        height: auto !important;
        left: 33% !important;
        top: 76% !important;
    }
    .img1{
        width: 19.5vw !important;
        height: auto !important;
        left: 22% !important;
        top: 70% !important;
    }
    .img3{
        width: 20vw !important;
        height: auto !important;
        left: 62% !important;
        top: 70% !important;
    }
    .img2{
        width: 19.5vw !important;
        height: auto !important;
        left: 23% !important;
        top: 91% !important;
    }
        .img4 {
        width: 18.5vw !important;
        height: auto !important;
        left: 57% !important;
        top: 87% !important;
    }
     .l6{
        height: auto !important;
        width: 44vw !important;
        top: 385.5vw !important;
        right: 25.5vw !important;
    }
    .l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 423vw !important;
        right: 32vw !important;
    }
        .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 390vw !important;
        right: 65vw !important;
    }
    .l3{
        height: auto !important;
        width: 28.3vw !important;
        top: 400vw !important;
        right: -2vw !important;
    }
    .l1{
        height: auto !important;
        width: 29.5vw !important;
        top: 358vw !important;
        right: 57vw !important;
    }
    .l2{
        height: auto !important;
        width: 31.7vw !important;
        top: 40vw !important;
        right: -56vw !important;
    }

}
@media only screen and (max-width:321px){
  .img2{
        width: 19.5vw !important;
        height: auto !important;
        left: 23% !important;
        top: 89% !important;
    }
        .img4{
        width: 18.5vw !important;
        height: auto !important;
        left: 58% !important;
        top: 86% !important;
    }
    .l6{
        height: auto !important;
        width: 44vw !important;
        top: 453.5vw !important;
        right: 24.5vw !important;
    }
    .l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 489vw !important;
        right: 30vw !important;
    }
    .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 470vw !important;
        right: 68vw !important;
    }
    .l1{
        height: auto !important;
        width: 29.5vw !important;
        top: 430vw !important;
        right: 63vw !important;
    }
    .l3{
        height: auto !important;
        width: 26.3vw !important;
        top: 457vw !important;
        right: -1vw !important;
    }
    .l2{
        height: auto !important;
        width: 32.7vw !important;
        top: 50vw !important;
        right: -56vw !important;
    }
}
@media only screen and (max-width:281px){
  .circle{
        width: 35vw !important;
        height: auto !important;
        left: 33% !important;
        top: 79% !important;
    }
    .img1 {
        width: 15.5vw !important;
        height: auto !important;
        left: 23% !important;
        top: 77% !important;
    }
    .img3{
        width: 16vw !important;
        height: auto !important;
        left: 62% !important;
        top: 77% !important;
    }
    .img2{
        width: 19.5vw !important;
        height: auto !important;
        left: 19% !important;
        top: 89% !important;
    }
    .img4 {
        width: 18.5vw !important;
        height: auto !important;
        left: 62% !important;
        top: 86% !important;
    }
        .l6{
        height: auto !important;
        width: 44vw !important;
        top: 546.5vw !important;
        right: 24.5vw !important;
    }
    .l1{
        height: auto !important;
        width: 29.5vw !important;
        top: 522vw !important;
        right: 63vw !important;
    }
    .l5{
        height: auto !important;
        width: 28.8vw !important;
        top: 562vw !important;
        right: 68vw !important;
    }
        .l4{
        height: auto !important;
        width: 29.5vw !important;
        top: 584vw !important;
        right: 30vw !important;
    }
    .l3{
        height: auto !important;
        width: 26.3vw !important;
        top: 554vw !important;
        right: -1vw !important;
    }
    .l2{
        height: auto !important;
        width: 32.7vw !important;
        top: 70vw !important;
        right: -56vw !important;

}
}

