/*start blog details pages  css*/
/*start blog details pages  css*/
/*start blog details pages  css*/
.dfhgdfgfg {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 8px;
}

.gmdfjhgd554 {
  width: 100%;
  height: 450px;
}
.gmdfjhgd554 img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.sdjbfsdhfsd {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sdjbfsdhfsd h6 {
  color: gray;
  font-weight: 600;
  padding-right: 5px;
}
.sdjbfsdhfsd span {
  padding-right: 5px;
}

.jkbgf525 h2 {
  color: #032D60;
  font-size: 35px;
  font-weight: 600;
}

.fdfdf2 p {
  color: gray;
  font-size: 16px !important;
  font-weight: 600;
}

.dfbdfd55f p {
  font-size: 16px !important;
}

.dfgdfg img {
  width: 30px;
  height: 30px;
}

.fjgdfg h6 {
  margin-bottom: 0;
  color: #032D60;
  font-size: 18px;
  font-weight: 600;
}

.dfndfhgdfgdfgdfgdfg2 {
  margin-bottom: 10px;
}

.fbnjhdfgdfg {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 8px;
  margin-top: 25px;
}

.dfbgdf522gdf h2 {
  color: #032D60;
  font-size: 30px;
  font-weight: 600;
}

.d555fgfh label {
  color: gray;
  font-size: 18px;
  padding-bottom: 10px;
}

.d555fgfh {
  margin-bottom: 10px;
}

.drbgdfgsd button {
  padding: 10px 25px;
  background-color: #032D60;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  margin-top: 15px;
}



/*end blog details pages  css*/
/*end blog details pages  css*/


/*start blog pages  css*/
/*start blog pages  css*/
/*start blog pages  css*/
.cvngjhdfdfg {
  width: 100%;
  padding: 40px 0;
}

.fhdfgdf {
  width: 100%;
  height: 250px;
  border-radius: 4px;
}
.fhdfgdf img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.fhdfgdf p {
  position: relative;
  margin-top: -240px;
  margin-left: 10px;
  font-size: 15px !important;
  padding: 8px 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  width: 130px;
  border-radius: 8px;
  background-color: #ffffff;
}

.fbdffd {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  position: relative;
  margin-top: -40px;
  margin-left: 220px;
  background-color: #b1bfd3;
}
.fbdffd img {
  width: 45px;
  height: 45px;
}

.fnjhdff {
  padding: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
}

.fdbgdfgdf {
  width: 35px;
  height: 35px;
}
.fdbgdfgdf img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.dfndfhgdfgdfgdfgdfg {
  padding: 10px;
}

.dfbgdfg h6 {
  color: gray;
  padding-top: 5px;
  padding-left: 10px;
}

.fdfdf p {
  font-size: 15px !important;
  font-weight: 600;
}

.dfbgdfhgdf h4 {
  color: #032D60;
  font-weight: 600;
  font-size: 24px;
  padding-top: 10px;
}
.dfbgdfhgdf p {
  font-size: 16px !important;
  color: gray;
}

.dfbgdfhgdf button {
  color: #032D60;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

.dfbdfghdfgdfg {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 8px;
}

.bgdfhdfgdf ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.bgdfhdfgdf ul.tabs li {
  background: #d2d5d7;
  color: #032D60;
  display: inline-block;
  padding: 18px 30px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
}
.bgdfhdfgdf ul.tabs li.current {
  background: #032D60;
  font-weight: 500;
  color: #ffffff;
}
.bgdfhdfgdf .tab-content {
  display: none;
  background: #ffffff;
}
.bgdfhdfgdf .tab-content.current {
  display: inherit;
}

.dfngfddf5545 {
  margin-top: 30px;
}

.fghnfg {
  width: 100%;
  height: 80px;
}
.fghnfg img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.dfgfgdfg h6 {
  color: #032D60;
  font-size: 18px;
  font-weight: 600;
}
.dfgfgdfg p {
  color: gray;
  font-size: 15px !important;
}

.dfdfgdfg {
  margin-bottom: 20px;
}

.dfvdfgdfgfd {
  margin-bottom: 20px;
}

.dfnbgjhdfgdfg {
  width: 100%;
  height: 140px;
  margin-top: 30px;
}
.dfnbgjhdfgdfg img {
  width: 100%;
  height: 100%;
}

.dfjgbdfdfgf {
  margin-top: 40px;
  padding: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
}

.dfgfgdf5654 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dfgndf h4 {
  text-align: center;
  color: #032D60;
  font-weight: 600;
}

.dfgdfg i {
  color: #032D60;
  font-size: 16px !important;
  margin-bottom: 0;
}
.dfgdfg span {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.fdgbdfg h6 {
  color: gray;
  font-weight: 600;
  margin-bottom: 0;
}

.dfgfgdf5654 {
  margin-top: 13px;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.nfuihdfgdfg {
  padding: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-top: 30px;
  border-radius: 8px;
}

.fbgdfgdfg h2 {
  font-size: 30px;
  font-weight: 600;
  color: #032D60;
  padding-bottom: 15px;
}

.bsdjhsdfdfgsdff {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.sdgdfgdf {
  text-align: center;
}
.sdgdfgdf h4 {
  color: #032D60;
  font-size: 24px;
  font-weight: 600;
}
.sdgdfgdf p {
  color: #000;
  font-size: 16px !important;
}

.dfbgdf {
  text-align: center;
  margin-left: 60px;
  display: flex;
}
.dfbgdf img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.fdfdf
{
  color: gray;
}

.fdfdf i 
{
  padding-right: 5px;
}


/*end blog pages  css*/
/*end blog pages  css*/
/*end blog pages  css*/