/*header start*/

header {
    z-index: 9999999;
    width: 100%;
    background: rgba(255,255,255,.8);
    padding: 10px 0 0;
    transition: .5s ease-out;
    box-shadow: rgba(0,0,0,.45) 0 12px 20px -20px
}

.headeractive {
    background-color: #fff;
    border-bottom: 2px solid #c35f16!important;
}

.section-info {
    font-size: 15px!important;
    margin: 0 0 10px!important;
    line-height: 32px!important;
    color: #c35f16!important;
    text-align: left!important;
    font-weight: 600!important;
}

.section-info a {
    text-decoration: none!important;
    color: #000!important;
    font-weight: 500;
}


.header-top-socials {
    float: right;
    padding-top: 3px;
}

.header-top-socials .h-t-s-1 {
    display: inline;
    border-radius: 50%;
    margin: 0 2px;
}

.header-top-socials .h-t-s-1 img {
    width: 22px
}

header .navbar-light .navbar-nav .nav-link {
    color: var(--main-blue-color);
    font-weight: 600;
}

header .navbar {
    padding-top: 0!important
}

.d-t:focus{
    box-shadow: none !important;
}

header .dropdown-menu li {
    position: relative;
}
header .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
header .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
header .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.h-nav-services{
    background: transparent !important;
    border: none !important;
    color: var(--main-blue-color);
    padding-top: 8px;
}
.h-nav-services:hover{
    color: rgba(0, 0, 0, 0.7) !important;
}
.btn-check:focus + .btn, .btn:focus{
    box-shadow: none !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.d-m-cstm{
  width: 40rem;
}

header .nav-item{
  margin-right: 0;
}

header .nav-item .nav-link{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.content-section{
  padding:30px 0px;
}

.h-nav-services{
    display:flex;
    align-items:center;
}

ul.navbar-nav ul li a{
    color: var(--main-blue-color) !important;
}

.bg-light {
  background-color: transparent !important;
}

.h-nav-services a{
    color: var(--main-blue-color) !important;
    text-decoration: none !important;
}

/*header end*/


header .dropdown-menu li{
    list-style: none;
    padding: 0.5rem;
}

header .dropdown-menu li a{
    text-decoration: none;
}

.dwehrwerwerwer{
    right:40px;
    bottom:40px;
    z-index:99999;
}

.float{
	width:60px;
	height:60px;
    display: block;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
}

.float i{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float:hover{
    color: #fff;
}

.my-float{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oidjweroiuwer{
    padding: 0.3rem 0.5rem;
    background: #25d366;
    border-radius: 25px;
    top: 50%;
    transform: translate(-10px, -50%);
    right: -10.4rem;
    box-shadow: 2px 2px 3px #999;
    opacity: 0;
    visibility: hidden;
    z-index: -999;
    transition: 0.3s ease-in-out;
}

.oidjweroiuwer:before{
    position: absolute;
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #25d366;
    top: 50%;
    left: -7px;
    transform: translateY(-50%) rotate(-180deg);
}

.oidjweroiuwer p{
    color: #fff;
}

.dwehrwerwerwer:hover .oidjweroiuwer{
    transform: translate(0, -50%);
    opacity: 1;
    visibility: visible;
    z-index: 999;
    transition: 0.3s ease-in-out;
}


/* Right side submenu */
.dropdown-submenu {
  max-height: 60vh;          /* screen height er 70% */
  overflow-y: auto;          /* vertical scroll */
  overflow-x: hidden;       
    /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1; 
}

/* smooth scroll (optional) */
.dropdown-submenu::-webkit-scrollbar {
  width: 6px;
}