/*start about us pages  css*/
/*start about us pages  css*/
/*start about us pages  css*/
.dfbjhdfdf {
  width: 100%;
  padding: 40px 0;
}

.dfbgdfg {
  width: 100%;
  height: 600px;
}
.dfbgdfg img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.dfgdgdfgd78fg {
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: -95px;
}

.sfbffsdf h6 {
  color: #0176D3;
  font-weight: 600;
}
.sfbffsdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.sdfb5585dfgfg {
  margin-top: 40px;
}
.sdfb5585dfgfg i {
  color: #0176D3;
  font-size: 30px;
}

.dfgnbdf15gf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfgnbdf15gf p {
  color: gray;
  font-size: 20px !important;
  font-weight: 600;
}

.fjbdfhgd {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
.fjbdfhgd h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.fgdffdg {
  width: 70%;
  margin: auto;
}

.sdfbh55dfgsd {
  width: 100%;
  height: 350px;
  padding: 20px;
  background-color: #d4dcff;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sdfbh55dfgsd img {
  width: 100%;
  height: 100%;
}

.dfsdfsdfgdfg {
  margin-top: 30px;
}

.fdghdf55gdf {
  width: 100%;
  height: 350px;
  padding: 20px;
  background-color: #d4dcff;
  text-align: left;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.fdghdf55gdf h2 {
  font-size: 30px;
}
.fdghdf55gdf button {
  padding: 12px 25px;
  border-radius: 25px;
  border: 2px solid #032D60;
  font-weight: 500;
  color: #000;
  font-size: 17px;
  margin-top: 10px;
}

.sdfbh55dfgsd2 {
  width: 100%;
  height: 350px;
  padding: 20px;
  background-color: #efc7a9;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sdfbh55dfgsd2 img {
  width: 100%;
  height: 100%;
}

.dfsdfsdfgdfg {
  margin-top: 30px;
}

.fdghdf55gdf2 {
  width: 100%;
  height: 350px;
  padding: 20px;
  background-color: #efc7a9;
  text-align: left;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
}
.fdghdf55gdf2 h2 {
  font-size: 30px;
}
.fdghdf55gdf2 button {
  padding: 12px 25px;
  border-radius: 25px;
  border: 2px solid #032D60;
  font-weight: 500;
  color: #000;
  font-size: 17px;
  margin-top: 10px;
}

.sdfghyudfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfbgdf h6 {
  color: #000;
  font-size: 17px;
  font-weight: 600;
}

.dfbgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.dfbdfg328 {
  width: 60px;
  height: 60px;
}
.dfbdfg328 img {
  width: 100%;
  height: 100%;
}

.dfgbdfgdf h5 {
  color: #000;
  font-weight: 600;
  font-size: 21px !important;
}
.dfgbdfgdf p {
  font-size: 18px !important;
}

.dfbgdf555 h6 {
  color: #0176D3;
}
.dfbgdf555 h2 {
  color: #032D60;
  font-weight: 600;
  font-size: 40px;
}

.dsdfsd {
  margin-top: 10px;
}

.jdfvgdf p {
  font-size: 18px !important;
}

.dfhdsfsf {
  width: 100%;
  height: 370px;
}
.dfhdsfsf img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/*end about us pages  css*/
/*end about us pages  css*/


.dfgjhfgd {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

.dfgjhfgd
{
  width: 100%;
  height: 80vh;
  background-size: 100% 100%;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.sdfghdfgdf {
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dbfghsdf img{
    width: 100%;
    height: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

@media only screen and (max-width:991px){
  .dfgjhfgd 
  {
    display:initial;
  }

  .sdfghdfgdf 
  {
    padding: 0;
  }

  .sdfghdfgdf  h1
  {
    padding-top: 130px;
  }
  .dfgdgdfgd78fg
  {
    margin-left: 0;
  }
  .dfgnbdf15gf p
  {
     text-align: center;
  }
  .dbfghsdf img 
  {
    margin-top: 40px;
  }
  .dfbgdfg
  {
    height: 400px;
    margin-bottom: 25px;
  }
  .fdghdf55gdf2
  {
    margin-top: 25px;
  }

    .sdfbh55dfgsd
  {
    margin-bottom: 25px;
  }
}
